- var TERMS = LANG.terms;

section.policy
	.container
		h2.policy__title.title!=TERMS.terms_title
		.policy__wrapper
			.policy__item
				.policy__index 1. Terms
				.policy__description By accessing the website at https://vitaliss.group, you are agreeing to be bound by these terms of service (the "Terms and Conditions"), all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this website are protected by applicable copyright and trademark law.
			.policy__item
				.policy__index 2. Use License
				.policy__description
					span.letter a)
					|  Permission is granted to temporarily download one copy of the materials (information or software) on Vitaliss's website for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license you may not:
				ul.policy__list
					li.policy__list-item modify or copy the materials;
					li.policy__list-item use the materials for any commercial purpose, or for any public display (commercial or non-commercial);
					li.policy__list-item attempt to decompile or reverse engineer any software contained on Vitaliss's website;
					li.policy__list-item remove any copyright or other proprietary notations from the materials;
					li.policy__list-item or transfer the materials to another person or "mirror" the materials on any other server.
				.policy__description
					span.letter b)
					|  This license shall automatically terminate if you violate any of these restrictions and may be terminated by Vitaliss at any time. Upon terminating your viewing of these materials or upon the termination of this license, you must destroy any downloaded materials in your possession whether in electronic or printed format.
			.policy__item
				.policy__index 3. Disclaimer
				.policy__description
					span.letter a)
					|  The materials on Vitaliss's website are provided on an 'as is' basis. Vitaliss makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties including, without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights.
				.policy__description
					span.letter b)
					|  Further, Vitaliss does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its website or otherwise relating to such materials or on any sites linked to this site.
			.policy__item
				.policy__index 4. Limitations
				.policy__description In no event shall Vitaliss or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption) arising out of the use or inability to use the materials on Vitaliss's website, even if Vitaliss or a Vitaliss authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.
			.policy__item
				.policy__index 5. Accuracy of materials
				.policy__description The materials appearing on Vitaliss's website could include technical, typographical, or photographic errors. Vitaliss does not warrant that any of the materials on its website are accurate, complete or current. Vitaliss may make changes to the materials contained on its website at any time without notice. However Vitaliss does not make any commitment to update the materials.
			.policy__item
				.policy__index 6. Links
				.policy__description Vitaliss has not reviewed all of the sites linked to its website and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by Vitaliss of the site. Use of any such linked website is at the user's own risk.
			.policy__item
				.policy__index 7. Modifications
				.policy__description Vitaliss may revise these terms of service for its website at any time without notice. By using this website you are agreeing to be bound by the then current version of these terms of service.
			.policy__item
				.policy__index 8. Governing Law
				.policy__description These terms and conditions are governed by and construed in accordance with the laws of Chile and you irrevocably submit to the exclusive jurisdiction of the courts in that State or location.


