- var HITS = LANG.hits;
include mixins/product


.hits#js-scroll-hits.js-slider-products
	.hits__wrapper.swiper-wrapper
		each hit in HITS
			+product(hit)
	.hits__scrollbar.js-slider-hits-scrollbar.scrollbar