- var HITS = LANG.hits;
include mixins/product

-
// const hits = [
// 	{
// 		label: 'Хиты продаж',
// 		srcPhoto: 'img/ash-be-forte_b_1.png',
// 		name: 'Ash be Forte',
// 		stars: [
// 			{
// 				src: 'img/svg/star.svg',
// 				type: 'full'
// 			},
// 			{
// 				src: 'img/svg/star.svg',
// 				type: 'full'
// 			},
// 			{
// 				src: 'img/svg/star.svg',
// 				type: 'full'
// 			},
// 			{
// 				src: 'img/svg/star.svg',
// 				type: 'full'
// 			},
// 			{
// 				src: 'img/svg/star-empty-1.svg',
// 				type: 'empty-1'
// 			}
// 		],
// 		text: '231 отзыв',
// 		desc: 'Растительные капсулы для  повышения мужского либидо.',
// 		link: 'ash-be-forte.html'
// 	},
// 	{
// 		label: 'Хиты продаж',
// 		srcPhoto: 'img/miaflow_b_2.png',
// 		name: 'Miaflow',
// 		stars: [
// 			{
// 				src: 'img/svg/star.svg',
// 				type: 'full'
// 			},
// 			{
// 				src: 'img/svg/star.svg',
// 				type: 'full'
// 			},
// 			{
// 				src: 'img/svg/star.svg',
// 				type: 'full'
// 			},
// 			{
// 				src: 'img/svg/star.svg',
// 				type: 'full'
// 			},
// 			{
// 				src: 'img/svg/star.svg',
// 				type: 'full'
// 			}
// 		],
// 		text: '213 отзывов',
// 		desc: 'Омолаживающий крем для лица с биопептидами для всех типов кожи.',
// 		link: 'miaflow.html'
// 	},
// 	{
// 		label: 'Хиты продаж',
// 		srcPhoto: 'img/duo-c-p_b_1.png',
// 		name: 'DUO C&P',
// 		stars: [
// 			{
// 				src: 'img/svg/star.svg',
// 				type: 'full'
// 			},
// 			{
// 				src: 'img/svg/star.svg',
// 				type: 'full'
// 			},
// 			{
// 				src: 'img/svg/star.svg',
// 				type: 'full'
// 			},
// 			{
// 				src: 'img/svg/star.svg',
// 				type: 'full'
// 			},
// 			{
// 				src: 'img/svg/star-empty-2.svg',
// 				type: 'empty-2'
// 			}
// 		],
// 		text: '232 отзыва',
// 		desc: 'Органические капсулы с куркумой для улучшения функций организма.',
// 		link: 'duo-c-p.html'
// 	},
// 	{
// 		label: 'Хиты продаж',
// 		srcPhoto: 'img/valgocin_b_1.png',
// 		name: 'Valgocin',
// 		stars: [
// 			{
// 				src: 'img/svg/star.svg',
// 				type: 'full'
// 			},
// 			{
// 				src: 'img/svg/star.svg',
// 				type: 'full'
// 			},
// 			{
// 				src: 'img/svg/star.svg',
// 				type: 'full'
// 			},
// 			{
// 				src: 'img/svg/star.svg',
// 				type: 'full'
// 			},
// 			{
// 				src: 'img/svg/star-empty-3.svg',
// 				type: 'empty-3'
// 			}
// 		],
// 		text: '225 отзывов',
// 		desc: 'Крем-сыворотка с натуральными экстрактами при деформации большого пальца стопы.',
// 		link: 'valgocin.html'
// 	},
// 	{
// 		label: 'Хиты продаж',
// 		srcPhoto: 'img/artex_b_1.png',
// 		name: 'Artex',
// 		stars: [
// 			{
// 				src: 'img/svg/star.svg',
// 				type: 'full'
// 			},
// 			{
// 				src: 'img/svg/star.svg',
// 				type: 'full'
// 			},
// 			{
// 				src: 'img/svg/star.svg',
// 				type: 'full'
// 			},
// 			{
// 				src: 'img/svg/star.svg',
// 				type: 'full'
// 			},
// 			{
// 				src: 'img/svg/star.svg',
// 				type: 'full'
// 			}
// 		],
// 		text: '219 отзывов',
// 		desc: 'Натуральная крем-мазь на основе пантов алтайского марала для здоровья суставов.',
// 		link: 'artex.html'
// 	},
// 	{
// 		label: 'Хиты продаж',
// 		srcPhoto: 'img/visolpex_b_1.png',
// 		name: 'Визоплекс',
// 		stars: [
// 			{
// 				src: 'img/svg/star.svg',
// 				type: 'full'
// 			},
// 			{
// 				src: 'img/svg/star.svg',
// 				type: 'full'
// 			},
// 			{
// 				src: 'img/svg/star.svg',
// 				type: 'full'
// 			},
// 			{
// 				src: 'img/svg/star.svg',
// 				type: 'full'
// 			},
// 			{
// 				src: 'img/svg/star-empty-3.svg',
// 				type: 'empty-3'
// 			}
// 		],
// 		text: '205 отзывов',
// 		desc: 'Инновационный комплекс для увлажнения органов зрения с гиалуроновой кислотой.',
// 		link: 'visoplex.html'
// 	},
// 	{
// 		label: 'Хиты продаж',
// 		srcPhoto: 'img/agrosev-bio_b_1.png',
// 		name: 'Agrosev Bio',
// 		stars: [
// 			{
// 				src: 'img/svg/star.svg',
// 				type: 'full'
// 			},
// 			{
// 				src: 'img/svg/star.svg',
// 				type: 'full'
// 			},
// 			{
// 				src: 'img/svg/star.svg',
// 				type: 'full'
// 			},
// 			{
// 				src: 'img/svg/star.svg',
// 				type: 'full'
// 			},
// 			{
// 				src: 'img/svg/star-empty-1.svg',
// 				type: 'empty-1'
// 			}
// 		],
// 		text: '224 отзыва',
// 		desc: 'Уникальное средство системного действия для борьбы с сорняками.',
// 		link: 'agrosev-bio.html'
// 	},
// 	{
// 		label: 'Хиты продаж',
// 		srcPhoto: 'img/ashwamin_b_1.png',
// 		name: 'Ashwamin',
// 		stars: [
// 			{
// 				src: 'img/svg/star.svg',
// 				type: 'full'
// 			},
// 			{
// 				src: 'img/svg/star.svg',
// 				type: 'full'
// 			},
// 			{
// 				src: 'img/svg/star.svg',
// 				type: 'full'
// 			},
// 			{
// 				src: 'img/svg/star.svg',
// 				type: 'full'
// 			},
// 			{
// 				src: 'img/svg/star-empty-2.svg',
// 				type: 'empty-2'
// 			}
// 		],
// 		text: '212 отзывов',
// 		desc: 'Натуральные капсулы  для детоксикации при заражения паразитами.',
// 		link: 'ashwamin.html'
// 	}
// ];


	// const hits = [
	// 	{
	// 		label: 'Хиты продаж',
	// 		srcPhoto: 'img/ash-be-forte_b_1.png',
	// 		name: 'Ash be Forte',
	// 		stars: [
	// 			{
	// 				src: 'img/svg/star.svg',
	// 				type: 'full'
	// 			},
	// 			{
	// 				src: 'img/svg/star.svg',
	// 				type: 'full'
	// 			},
	// 			{
	// 				src: 'img/svg/star.svg',
	// 				type: 'full'
	// 			},
	// 			{
	// 				src: 'img/svg/star.svg',
	// 				type: 'full'
	// 			},
	// 			{
	// 				src: 'img/svg/star-empty-1.svg',
	// 				type: 'empty-1'
	// 			}
	// 		],
	// 		text: '231 отзыв',
	// 		desc: 'Растительные капсулы для  повышения мужского либидо.',
	// 		link: 'ash-be-forte.html'
	// 	},
	// 	{
	// 		label: 'Хиты продаж',
	// 		srcPhoto: 'img/miaflow_b_2.png',
	// 		name: 'Miaflow',
	// 		stars: [
	// 			{
	// 				src: 'img/svg/star.svg',
	// 				type: 'full'
	// 			},
	// 			{
	// 				src: 'img/svg/star.svg',
	// 				type: 'full'
	// 			},
	// 			{
	// 				src: 'img/svg/star.svg',
	// 				type: 'full'
	// 			},
	// 			{
	// 				src: 'img/svg/star.svg',
	// 				type: 'full'
	// 			},
	// 			{
	// 				src: 'img/svg/star.svg',
	// 				type: 'full'
	// 			}
	// 		],
	// 		text: '213 отзывов',
	// 		desc: 'Омолаживающий крем для лица с биопептидами для всех типов кожи.',
	// 		link: 'miaflow.html'
	// 	},
	// 	{
	// 		label: 'Хиты продаж',
	// 		srcPhoto: 'img/duo-c-p_b_1.png',
	// 		name: 'DUO C&P',
	// 		stars: [
	// 			{
	// 				src: 'img/svg/star.svg',
	// 				type: 'full'
	// 			},
	// 			{
	// 				src: 'img/svg/star.svg',
	// 				type: 'full'
	// 			},
	// 			{
	// 				src: 'img/svg/star.svg',
	// 				type: 'full'
	// 			},
	// 			{
	// 				src: 'img/svg/star.svg',
	// 				type: 'full'
	// 			},
	// 			{
	// 				src: 'img/svg/star-empty-2.svg',
	// 				type: 'empty-2'
	// 			}
	// 		],
	// 		text: '232 отзыва',
	// 		desc: 'Органические капсулы с куркумой для улучшения функций организма.',
	// 		link: 'duo-c-p.html'
	// 	},
	// 	{
	// 		label: 'Хиты продаж',
	// 		srcPhoto: 'img/valgocin_b_1.png',
	// 		name: 'Valgocin',
	// 		stars: [
	// 			{
	// 				src: 'img/svg/star.svg',
	// 				type: 'full'
	// 			},
	// 			{
	// 				src: 'img/svg/star.svg',
	// 				type: 'full'
	// 			},
	// 			{
	// 				src: 'img/svg/star.svg',
	// 				type: 'full'
	// 			},
	// 			{
	// 				src: 'img/svg/star.svg',
	// 				type: 'full'
	// 			},
	// 			{
	// 				src: 'img/svg/star-empty-3.svg',
	// 				type: 'empty-3'
	// 			}
	// 		],
	// 		text: '225 отзывов',
	// 		desc: 'Крем-сыворотка с натуральными экстрактами при деформации большого пальца стопы.',
	// 		link: 'valgocin.html'
	// 	},
	// 	{
	// 		label: 'Хиты продаж',
	// 		srcPhoto: 'img/artex_b_1.png',
	// 		name: 'Artex',
	// 		stars: [
	// 			{
	// 				src: 'img/svg/star.svg',
	// 				type: 'full'
	// 			},
	// 			{
	// 				src: 'img/svg/star.svg',
	// 				type: 'full'
	// 			},
	// 			{
	// 				src: 'img/svg/star.svg',
	// 				type: 'full'
	// 			},
	// 			{
	// 				src: 'img/svg/star.svg',
	// 				type: 'full'
	// 			},
	// 			{
	// 				src: 'img/svg/star.svg',
	// 				type: 'full'
	// 			}
	// 		],
	// 		text: '219 отзывов',
	// 		desc: 'Натуральная крем-мазь на основе пантов алтайского марала для здоровья суставов.',
	// 		link: 'artex.html'
	// 	},
	// 	{
	// 		label: 'Хиты продаж',
	// 		srcPhoto: 'img/visolpex_b_1.png',
	// 		name: 'Визоплекс',
	// 		stars: [
	// 			{
	// 				src: 'img/svg/star.svg',
	// 				type: 'full'
	// 			},
	// 			{
	// 				src: 'img/svg/star.svg',
	// 				type: 'full'
	// 			},
	// 			{
	// 				src: 'img/svg/star.svg',
	// 				type: 'full'
	// 			},
	// 			{
	// 				src: 'img/svg/star.svg',
	// 				type: 'full'
	// 			},
	// 			{
	// 				src: 'img/svg/star-empty-3.svg',
	// 				type: 'empty-3'
	// 			}
	// 		],
	// 		text: '205 отзывов',
	// 		desc: 'Инновационный комплекс для увлажнения органов зрения с гиалуроновой кислотой.',
	// 		link: 'visoplex.html'
	// 	},
	// 	{
	// 		label: 'Хиты продаж',
	// 		srcPhoto: 'img/agrosev-bio_b_1.png',
	// 		name: 'Agrosev Bio',
	// 		stars: [
	// 			{
	// 				src: 'img/svg/star.svg',
	// 				type: 'full'
	// 			},
	// 			{
	// 				src: 'img/svg/star.svg',
	// 				type: 'full'
	// 			},
	// 			{
	// 				src: 'img/svg/star.svg',
	// 				type: 'full'
	// 			},
	// 			{
	// 				src: 'img/svg/star.svg',
	// 				type: 'full'
	// 			},
	// 			{
	// 				src: 'img/svg/star-empty-1.svg',
	// 				type: 'empty-1'
	// 			}
	// 		],
	// 		text: '224 отзыва',
	// 		desc: 'Уникальное средство системного действия для борьбы с сорняками.',
	// 		link: 'agrosev-bio.html'
	// 	},
	// 	{
	// 		label: 'Хиты продаж',
	// 		srcPhoto: 'img/ashwamin_b_1.png',
	// 		name: 'Ashwamin',
	// 		stars: [
	// 			{
	// 				src: 'img/svg/star.svg',
	// 				type: 'full'
	// 			},
	// 			{
	// 				src: 'img/svg/star.svg',
	// 				type: 'full'
	// 			},
	// 			{
	// 				src: 'img/svg/star.svg',
	// 				type: 'full'
	// 			},
	// 			{
	// 				src: 'img/svg/star.svg',
	// 				type: 'full'
	// 			},
	// 			{
	// 				src: 'img/svg/star-empty-2.svg',
	// 				type: 'empty-2'
	// 			}
	// 		],
	// 		text: '212 отзывов',
	// 		desc: 'Натуральные капсулы  для детоксикации при заражения паразитами.',
	// 		link: 'ashwamin.html'
	// 	}
	// ];


.hits#js-scroll-hits.js-slider-products
	each hit in HITS
		+product(hit)