.language.language--hidden
    .language__wrapper.container
        .language__main
            img.language__logo(src='img/svg/logo-w.svg' alt='')
            p.language__desc Select the language to be displayed on the site
            .select
                .select__header
                    span.select__current Select languages
                .select__body
                    .select__option(data-lang='hu')
                        img.select__flag(src='img/language-hu.png' alt='hu')
                        span.select__country Венгрия
                    .select__option(data-lang='cz')
                        img.select__flag(src='img/language-cz.png' alt='cz')
                        span.select__country Чехия
                    .select__option(data-lang='ro')
                        img.select__flag(src='img/language-ro.png' alt='ro')
                        span.select__country Румыния
                    .select__option(data-lang='it')
                        img.select__flag(src='img/language-it.png' alt='it')
                        span.select__country Италия