include ../data/reviews_ash_be_forte
include ../data/reviews_miaflow
include ../data/reviews_duo_c_p
include ../data/reviews_valgocin
include ../data/reviews_artex
include ../data/reviews_visoplex
include ../data/reviews_argosev_bio
include ../data/reviews_ashwamin