-
	const ashBeForteArrayMain = [
			{
				main: 'main',
				src: 'img/review_ash_be_forte_2.png',
				name: 'Никита Панкратов, 34 года',
				product: 'Ash be Forte',
				stars: [
					'img/svg/star.svg',
					'img/svg/star.svg',
					'img/svg/star.svg',
					'img/svg/star.svg',
					'img/svg/star-empty-1.svg'
				],
				text: 'Потерять возможность заниматься сексом в 34 - кошмар для мужчины! Я около года был "бессильным". Пробовал разные методы, стимуляторы, бестолку. А после 2 курсов Ash be Forte даже утренняя эрекция вернулась.'
			},
			{
				main: 'main',
				src: 'img/review_ash_be_forte_4.png',
				name: 'Артём Фокин, 63 года',
				product: 'Ash be Forte',
				stars: [
					'img/svg/star.svg',
					'img/svg/star.svg',
					'img/svg/star.svg',
					'img/svg/star.svg',
					'img/svg/star-empty-3.svg'
				],
				text: 'Мне Ash be Forte помог вернуться к нормальной жизни. Чувствую себя как в 25! И физически и внутри, благодаря средству я уверен в себе и своих силах. '
			},
			{
				main: 'main',
				src: 'img/review_ash_be_forte_5.png',
				name: 'Максим Виноградов, 49 лет',
				product: 'Ash be Forte',
				stars: [
					'img/svg/star.svg',
					'img/svg/star.svg',
					'img/svg/star.svg',
					'img/svg/star.svg',
					'img/svg/star-empty-2.svg'
				],
				text: 'Я не был популярным среди женщин. К сожалению, 10 минут - мой потолок. Кто полюбит "скорострела"? Но мне повезло: одна девушка посоветовала пропить курс Ash be Forte. Теперь это моя жена, а наш секс может длиться целую ночь!'
			},
			{
				main: 'main',
				src: 'img/review_ash_be_forte_7.png',
				name: 'Арсений Лазарев, 56 лет',
				product: 'Ash be Forte',
				stars: [
					'img/svg/star.svg',
					'img/svg/star.svg',
					'img/svg/star.svg',
					'img/svg/star.svg',
					'img/svg/star-empty-1.svg'
				],
				text: 'Среди всех стимуляторов потенции Ash be Forte - единственный, от которого у меня нет побочки. К тому же реально работает! У меня стабильная длительная эрекция, член твердый, как камень. '
			},
			{
				main: 'main',
				src: 'img/review_ash_be_forte_9.png',
				name: 'Ибрагим Воробьев, 48 лет',
				product: 'Ash be Forte',
				stars: [
					'img/svg/star.svg',
					'img/svg/star.svg',
					'img/svg/star.svg',
					'img/svg/star.svg',
					'img/svg/star-empty-1.svg'
				],
				text: 'Жена настояла, чтобы я начал принимать Ash be Forte. Сначала отказывался, но понял, что могу ее потерять из-за своей проблемы. Вернулись с ней во времена юности. Секс каждый день! Она счастливая, я довольный!'
			},
			{
				main: 'main',
				src: 'img/review_ash_be_forte_10.png',
				name: 'Тимур Карасев, 52 года',
				product: 'Ash be Forte',
				stars: [
					'img/svg/star.svg',
					'img/svg/star.svg',
					'img/svg/star.svg',
					'img/svg/star.svg',
					'img/svg/star-empty-3.svg'
				],
				text: 'У меня никогда такого не было! Продолжительность полового акта увеличилась вдвое!  И это я только начал принимал эти капсулы. Непременно продолжу принимать полный курс. А может и два!'
			},
			{
				main: 'main',
				src: 'img/review_ash_be_forte_12.png',
				name: 'Михаил Трофимов, 65 лет',
				product: 'Ash be Forte',
				stars: [
					'img/svg/star.svg',
					'img/svg/star.svg',
					'img/svg/star.svg',
					'img/svg/star.svg',
					'img/svg/star-empty-2.svg'
				],
				text: 'Слабо верил в силу подобных средств. Но от отчаяния решил попробовать. И риск оправдался — эффект - отличный! Моя эрекция лучше, чем была в 20 лет! А мне уже 65, между прочим!'
			},
			{
				main: 'main',
				src: 'img/review_ash_be_forte_13.png',
				name: 'Павел Лапшин, 50 лет',
				product: 'Ash be Forte',
				stars: [
					'img/svg/star.svg',
					'img/svg/star.svg',
					'img/svg/star.svg',
					'img/svg/star.svg',
					'img/svg/star-empty-2.svg'
				],
				text: 'Последний год у меня пропало желание заниматься сексом. Жена думала, что я завел любовницу. Обидно, не хотел ее расстраивать. Но секса тоже не хотел. Друг посоветовал эти капсулы. Теперь мы как в молодости: и в спальне, и на кухне, и в ванной..'
			},
			{
				main: 'main',
				src: 'img/review_ash_be_forte_16.png',
				name: 'Демьян Савельев, 47 лет',
				product: 'Ash be Forte',
				stars: [
					'img/svg/star.svg',
					'img/svg/star.svg',
					'img/svg/star.svg',
					'img/svg/star.svg',
					'img/svg/star-empty-1.svg'
				],
				text: 'Столкнулся с воспалительными проблемами мужского характера, из-за этого работа репродуктивной системы сошла на нет. А после курса Ash be Forte все пришло в норму. И воспадения ушли и эрекция вернулась. Рекомендую!'
			},
			{
				main: 'main',
				src: 'img/review_ash_be_forte_19.png',
				name: 'Максим Третьяков, 38 лет',
				product: 'Ash be Forte',
				stars: [
					'img/svg/star.svg',
					'img/svg/star.svg',
					'img/svg/star.svg',
					'img/svg/star.svg',
					'img/svg/star-empty-2.svg'
				],
				text: 'В 36 лет появились проблемы с мочеполовой системой, это естественно, сказалось на потенции. Но после курса Ash be Forte жизнь заиграла по-новому: воспаления прошли, эеркция всю ночь, желание чувствую каждый день, а секс - просто космос!'
			},
	];
	const ashBeForteArrayRemainder = [
			{
				src: 'img/review_ash_be_forte_1.png',
				name: 'Дмитрий Васильев, 75 лет',
				product: 'Ash be Forte',
				stars: [
					'img/svg/star.svg',
					'img/svg/star.svg',
					'img/svg/star.svg',
					'img/svg/star.svg',
					'img/svg/star-empty-2.svg'
				],
				text: 'В мои 75 лет мало кто способен на сексуальные подвиги в постели. А я практически каждый вечер занимаюсь сексом с женой. Она довольна, говорит, что чувствует себя молодой. Да и я счастлив. Рекомендую средство всем своим друзьям.'
			},
			{
				src: 'img/review_ash_be_forte_3.png',
				name: 'Милана Пантелеева, 42 года',
				product: 'Ash be Forte',
				stars: [
					'img/svg/star.svg',
					'img/svg/star.svg',
					'img/svg/star.svg',
					'img/svg/star.svg',
					'img/svg/star-empty-1.svg'
				],
				text: 'У мужа были проблемы. Интимная жизнь для нас закончилась. Пробовали, ходили по специалистам, принимали разные средства. Ничего не работало. Думала придется всю жизнь так жить, но кума посоветовала Ash be Forte. Это средство вернуло секс в нашу жизнь!'
			},
			{
				src: 'img/review_ash_be_forte_6.png',
				name: 'Константин Волков, 45 лет',
				product: 'Ash be Forte',
				stars: [
					'img/svg/star.svg',
					'img/svg/star.svg',
					'img/svg/star.svg',
					'img/svg/star.svg',
					'img/svg/star-empty-2.svg'
				],
				text: 'Меня бросила жена из-за проблем в постели. Теперь я сплю с ее подругой и мы ночами напролет кувыркаемся в постели. Пусть теперь жалеет, что потеряла такого жеребца. Спасибо Ash be Forte!'
			},
			{
				src: 'img/review_ash_be_forte_8.png',
				name: 'Александра Маслова, 44 года',
				product: 'Ash be Forte',
				stars: [
					'img/svg/star.svg',
					'img/svg/star.svg',
					'img/svg/star.svg',
					'img/svg/star.svg',
					'img/svg/star-empty-2.svg'
				],
				text: 'Покупали для мужа. Теперь я жду с нетерпением, когда дети уснут, чтобы заняться с ним сексом! Благодаря Ash be Forte я наконец-то узнала, что такое "настоящий качественный секс". Рекомендую.'
			},
			{
				src: 'img/review_ash_be_forte_11.png',
				name: 'Тихон Николаев, 45 лет',
				product: 'Ash be Forte',
				stars: [
					'img/svg/star.svg',
					'img/svg/star.svg',
					'img/svg/star.svg',
					'img/svg/star.svg',
					'img/svg/star-empty-3.svg'
				],
				text: 'Закончил курс Ash be Forte пару месяцев назад. Моей силы хватает на всю ночь! А прежде эксперты только руками разводили, говорили "к сожалению, возраст, так бывает, мы бессильны, ничем не можем помочь!"'
			},
			{
				src: 'img/review_ash_be_forte_14.png',
				name: 'Илья Бочаров, 48 лет',
				product: 'Ash be Forte',
				stars: [
					'img/svg/star.svg',
					'img/svg/star.svg',
					'img/svg/star.svg',
					'img/svg/star.svg',
					'img/svg/star-empty-1.svg'
				],
				text: 'Мужики! Это нечто! Попробуйте, не пожалеете! От этих капсул такая эрекция, что можно удовлетворить и 10 дам сразу! '
			},
			{
				src: 'img/review_ash_be_forte_15.png',
				name: 'Лев Журавлев, 52 года',
				product: 'Ash be Forte',
				stars: [
					'img/svg/star.svg',
					'img/svg/star.svg',
					'img/svg/star.svg',
					'img/svg/star.svg',
					'img/svg/star-empty-3.svg'
				],
				text: 'Ash be Forte вернул мне мужскую силу и помог не разрушить семью. Скрывал от жены, что не могу, а она у меня женщина мудрая. Мягко так поговорила со мной, нашла это средство, сказала "давай попробуем!". Теперь каждую ночь ее "благодарю"!'
			},
			{
				src: 'img/review_ash_be_forte_17.png',
				name: 'Анастасия Исаева, 30 лет',
				product: 'Ash be Forte',
				stars: [
					'img/svg/star.svg',
					'img/svg/star.svg',
					'img/svg/star.svg',
					'img/svg/star.svg',
					'img/svg/star-empty-2.svg'
				],
				text: 'Мой новый парень просто огонь в постели. Думала, это природа его наградила, а оказалось, что он просто принимает эти капсулы. Но меня это не смущает, у меня такие оргазмы, каких не было ни с одним другим парнем.'
			},
			{
				src: 'img/review_ash_be_forte_18.png',
				name: 'Демид Воронцов, 46 лет',
				product: 'Ash be Forte',
				stars: [
					'img/svg/star.svg',
					'img/svg/star.svg',
					'img/svg/star.svg',
					'img/svg/star.svg',
					'img/svg/star-empty-2.svg'
				],
				text: 'Я не мог смириться с тем, что стал импотентом. Много методов испробовал, но толку не было. Потом случайно услышал об Ash be Forte от друзей. Решил попробовать, хуже точно не будет, ведь состав на основе экстрактов. Теперь я снова в деле!'
			},
			{
				src: 'img/review_ash_be_forte_20.png',
				name: 'Юрий Чесноков, 53 года',
				product: 'Ash be Forte',
				stars: [
					'img/svg/star.svg',
					'img/svg/star.svg',
					'img/svg/star.svg',
					'img/svg/star.svg',
					'img/svg/star-empty-1.svg'
				],
				text: 'Очень хотел второго ребенка. Но возраст... Репродуктивные органы уже не работают, как в молодости. Не знаю, что мне помогло, желание или курс  Ash be Forte. Но жена уже на 7 месяце!'
			}
	];
	let ashBeForteArrayFull = ashBeForteArrayMain.concat(ashBeForteArrayRemainder);