-
	const duoArrayMain = [
		{
			main: 'main',
			src: 'img/review_duo_1.png',
			name: 'Виктория Попова, 43 года',
			product: 'DUO С&P',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-2.svg'
			],
			text: 'Принимала эти капсулы для помощи в похудении. Параллельно с этим сидела на диете и занималась спортом. После начала приема капсул вес стал намного быстрее уменьшатся. А раньше каждый килограмм уходил с огромным трудом.'
		},
		{
			main: 'main',
			src: 'img/review_duo_2.png',
			name: 'Екатерина Данилова, 55 лет',
			product: 'DUO С&P',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-2.svg'
			],
			text: 'Отличные капсулы, которые поддерживают организм в здоровом и крепком состоянии. Но главное, с ними легко деражть себя в форме! Уверена, это благодаря им я в свои 68 чувствую себя и выгляжу на 50!'
		},
		{
			main: 'main',
			src: 'img/review_duo_3.png',
			name: 'Никита Сизов, 47 лет',
			product: 'DUO С&P',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-1.svg'
			],
			text: 'Мне посоветовал принимать капсулы DUO C&P специалист одной частной клиники. Много лет живу с лишним весом, диеты, тренировки, вес особо не уходит. А с помощью этого средства похудела. Никогда не чувствовала себя такой легкой! '
		},
		{
			main: 'main',
			src: 'img/review_duo_4.png',
			name: 'Григорий Иванов, 64 года',
			product: 'DUO С&P',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-3.svg'
			],
			text: 'В нынешних условиях жизни поддержка организму извне крайне необходима. Особенно если ты в преклонном возрасте. Эти капсулы помогают мне чувствовать себя здоровым, не набирать вес, держать уровень сахара в норме и меньше болеть.'
		},
		{
			main: 'main',
			src: 'img/review_duo_5.png',
			name: 'Елизавета Никитина, 43 года',
			product: 'DUO С&P',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-1.svg'
			],
			text: 'Я склонна к полноте, поэтому принимаю DUO C&P, чтобы поддерживать себя в форме. Особенно после праздников с мамиными угощениями. Вес всегда в норме! Тело подтянутое. В любое время года готова к пляжному сезону.'
		},
		{
			main: 'main',
			src: 'img/review_duo_6.png',
			name: 'Мария Сазонова, 52 года',
			product: 'DUO С&P',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-2.svg'
			],
			text: 'Я принимала их для более быстрого и безболезненного похудения. Скинула 8 кг без особых усилий. Он действительно помогает сжигать жир и ускорять метаболизм. '
		},
		{
			main: 'main',
			src: 'img/review_duo_7.png',
			name: 'Валерия Михайлова, 50 лет',
			product: 'DUO С&P',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-2.svg'
			],
			text: 'У меня проблемы с уровнем глюкозы в крови + лишних 18 кг. Благодаря DUO C&P уровень сахара стал более стабильным. Принимаю только один месяц, планирую продолжать, так как вижу положительный результат и цифра на весах стала меньше на 7 кг. '
		},
		{
			main: 'main',
			src: 'img/review_duo_8.png',
			name: 'Сафия Ермакова, 60 лет',
			product: 'DUO С&P',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-1.svg'
			],
			text: 'Принимаю DUO C&P для похудения и в качестве профилактики проблем с суставами. Раньше они меня часто беспокоили, хрустели, ныли, "крутило" на погоду. А сейчас даже не вспоминаю о том, что с ними что-то не так. Рекомендую всем!'
		},
		{
			main: 'main',
			src: 'img/review_duo_9.png',
			name: 'Егор Петров, 61 год',
			product: 'DUO С&P',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-2.svg'
			],
			text: 'DUO C&P подарили дети, сказали "Будешь чувствовать себя, как в молодости!" Так и есть, пропил курс - стало проще двигаться, исчезли скачки давления, стало больше энергии, общее состояние улучшилось однозначно, появились силы на пробежки по утрам. '
		},
		{
			main: 'main',
			src: 'img/review_duo_10.png',
			name: 'Роберт Козлов, 58 лет',
			product: 'DUO С&P',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-3.svg'
			],
			text: 'Отличный состав, все натуральное, никакой химии. Принимал один курс, никаких побочных действий не было. Состояние значительно улучшилось, прошли все воспалительные процессы. Рекомендую.'
		},
	];
	const duoArrayRemainder = [
		{
			src: 'img/review_duo_11.png',
			name: 'Милана Смирнова, 38 лет',
			product: 'DUO С&P',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-2.svg'
			],
			text: 'Принимала эти капсулы, чтобы похудеть. Сама удивилась такому эффекту — минус 13 кг!!! Чувствую себя прекрасно, побочных свойств не обнаружила!'
		},
		{
			src: 'img/review_duo_12.png',
			name: 'Иван Назаров, 47 лет',
			product: 'DUO С&P',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-1.svg'
			],
			text: 'За последние пару лет очень набрал вес. Врачи сказали, нужно срочно худеть, чтобы избежать осложнение с сердцем. Сестра посоветовала это средство, сама с ним сбросила 10 кг. Принимаю вторую неделю, ушло 4 кг. '
		},
		{
			src: 'img/review_duo_13.png',
			name: 'Александр Журавлев, 55 лет',
			product: 'DUO С&P',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-1.svg'
			],
			text: 'После сокращения сидел дома и как результат + 20 кг! Жена начала возмущаться, да я и сам ощущал, что сердце стало тарабанить, давление постоянно скачет. Меньше есть не получалось, поэтому искал добавку. Выбрал эту. И не прогадал. Пока скинул 8 кг. '
		},
		{
			src: 'img/review_duo_14.png',
			name: 'Алина Козлова, 48 лет',
			product: 'DUO С&P',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-2.svg'
			],
			text: 'DUO C&P - лучшее средство для людей с сахаром. Их принимает мой муж, и по нему очень заметно улучшение. Он скинул вес, и выглядит здоровее и точно так же себя ощущает!'
		},
		{
			src: 'img/review_duo_15.png',
			name: 'Агата Маркелова, 57 лет',
			product: 'DUO С&P',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-3.svg'
			],
			text: 'С этими капсулами процесс похудения стал намного проще. Килограммы стали уходить быстрее, а самочувствие улучшилось. Рекомендую!!'
		},
		{
			src: 'img/review_duo_16.png',
			name: 'Илья Васильев, 59 лет',
			product: 'DUO С&P',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-3.svg'
			],
			text: 'Последние 10 лет весил не меньше 90 кг! Вес плавно, но умеренно увеличивался. Только с этими капсулами удалось обратить процесс и направить его в обратную сторону.'
		},
		{
			src: 'img/review_duo_17.png',
			name: 'Елизавета Софронова, 45 лет',
			product: 'DUO С&P',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-2.svg'
			],
			text: 'После приема DUO C&P стала легче на 12 кг. До этого пробовала разные способы, худела, но вес возвращался. Сейчас все стабильно. Ем, актвино не занимаюсь спортом, но на весах ни одного лишнего кг! '
		},
		{
			src: 'img/review_duo_18.png',
			name: 'София Гаврилова, 63 года',
			product: 'DUO С&P',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-1.svg'
			],
			text: 'Куркума, имбирь и черный перец - что может быть лучше для иммунитета? Именно потому я и купила себе эти капсулы, уж очень понравился состав. Принимала на протяжении одного курса, общее состояние здоровья стало намного лучше.'
		},
		{
			src: 'img/review_duo_19.png',
			name: 'Мирослав Морозов, 42 года',
			product: 'DUO С&P',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-2.svg'
			],
			text: 'Уже более 10 лет мучаюсь с лишним весом и сахаром. Привык к постоянному ощущению недомогания и усталости. Но с капсулами DUO C&P чувствую себя намного лучше, вес постепенно становится меньше. Стал реже болеть, появилась энергия. Отличное средство.'
		},
		{
			src: 'img/review_duo_20.png',
			name: 'Дмитрий Смирнов, 63 года',
			product: 'DUO С&P',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-2.svg'
			],
			text: 'Принимал пол года назад, пропил два курса. Проблем со скачками уровня глюкозы не было, вес держится и по сей день. И болеть стал гораздо меньше, иммунитет стал сильнее.'
		},
	]
	let duoArrayFull = duoArrayMain.concat(duoArrayRemainder);