-
	const ashwaminArrayMain = [
		{
			main: 'main',
			src: 'img/review_ashwamin_1.png',
			name: 'Константин Лазарев, 44 года',
			product: 'Ashwamin',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-3.svg'
			],
			text: 'Принимал по рекомендации специалиста. После гельминтов организм был очень слаб, нужно было восстановить его защитные функции. 2 капсулы утром и вечером - и через две недели я чувствовал себя полным сил и энергии!'
		},
		{
			main: 'main',
			src: 'img/review_ashwamin_2.png',
			name: 'Алиса Суханова, 47 лет',
			product: 'Ashwamin',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-1.svg'
			],
			text: 'Для меня сезон простуд - настоящее испытание: то кашель, то насморк, то горло болит. И так весь сезон. В этом году осенью пропила курс Ashwamin и ни одной простуды за всю зиму. Самой не верится, что такое бывает)'
		},
		{
			main: 'main',
			src: 'img/review_ashwamin_3.png',
			name: 'Диана Макарова, 35 лет',
			product: 'Ashwamin',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-2.svg'
			],
			text: 'У меня проблемы на работе, из-за этого плохо сплю, стала раздражительной. Эти капсулы помогают мне справиться со стрессом, лучше спать и работать. Заметила также, что стала меньше уставать. Быстро засыпаю и легко встаю утром.'
		},
		{
			main: 'main',
			src: 'img/review_ashwamin_4.png',
			name: 'Александр Васильев, 63 года',
			product: 'Ashwamin',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-2.svg'
			],
			text: 'Ashwamin помог справиться с бессоницей и улучшить сон. Хорошо успокаивает и расслабляет. Исчезли раздражительность и постоянная усталость. Чувствую, что стал спокойнее, не просыпаюсь по ночам. Утром чувствую себя бодрым и отдохнувшим!'
		},
		{
			main: 'main',
			src: 'img/review_ashwamin_5.png',
			name: 'Даниил Виноградов, 55 лет',
			product: 'Ashwamin',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-3.svg'
			],
			text: 'У этих капсул накопительный эффект, не ждите, что почувствуете изменения после первой капсулы. Зато после курса приема чувствуешь себя совсем другим человеком!'
		},
		{
			main: 'main',
			src: 'img/review_ashwamin_6.png',
			name: 'Егор Афанасьев, 66 лет',
			product: 'Ashwamin',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-2.svg'
			],
			text: 'Капсулы на натуральной основе, потому можно смело принимать и диабетикам, и гипертоникам, и с прочими болезнями. Никаких побочных явлений быть не может. Проверил на себе лично.'
		},
		{
			main: 'main',
			src: 'img/review_ashwamin_7.png',
			name: 'Валерия Сахарова, 34 года',
			product: 'Ashwamin',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-1.svg'
			],
			text: 'С Ashwamin я более сосредоточенная, внимательная, улучшилась память и эмоциональное состояние. А еще стала лучше спать и исчезло чуство постоянной усталости.'
		},
		{
			main: 'main',
			src: 'img/review_ashwamin_8.png',
			name: 'Ярослава Жукова, 68 лет',
			product: 'Ashwamin',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-1.svg'
			],
			text: 'Принимала эти капсулы для борьбы с гельминтами. Быстро помогли! Плюс восстановили микрофлору кишечника, улучшили пищеварение. Изменения заметила после недели регулярного приема. Дополнительные витамины для восстановления не понадобились.'
		},
		{
			main: 'main',
			src: 'img/review_ashwamin_9.png',
			name: 'Алиса Булгакова, 52 года',
			product: 'Ashwamin',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-3.svg'
			],
			text: 'Мне эти капсулы купила дочь, сказала пропить курс, очистить организм от токсинов и холестерина. Ощутила эффект уже на первой неделе! Сейчас чувствую себя превосходно, полна сил, энергии, давление не беспокоит. Просто чудо!'
		},
		{
			main: 'main',
			src: 'img/review_ashwamin_10.png',
			name: 'Сафия Пахомова, 43 года',
			product: 'Ashwamin',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-2.svg'
			],
			text: 'С помощью Ashwamin избавилась от паразитов в организме. Теперь продолжаю его принимать в качестве профилактики. Заметила, что состояние здоровья улучшилось, капсулы очень хорошо влияют на организм.'
		},
	];
	const ashwaminArrayRemainder = [
		{
			src: 'img/review_ashwamin_11.png',
			name: 'Алексей Смирнов, 52 года',
			product: 'Ashwamin',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-2.svg'
			],
			text: 'Ashwamin помог мне не только избавиться от гельминтов, но и нормализовать работу организма, уровень сахара и холестерина. Прошла интоксикация. Общее самочувствие тоже значительно улучшилось. '
		},
		{
			src: 'img/review_ashwamin_12.png',
			name: 'София Соколова, 39 лет',
			product: 'Ashwamin',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-1.svg'
			],
			text: 'Использую эти капсулы для восстановления после тренировок. Помогают восстановить силы, снять мышечную и суставную боль. '
		},
		{
			src: 'img/review_ashwamin_13.png',
			name: 'Серафим Субботин, 67 лет',
			product: 'Ashwamin',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-1.svg'
			],
			text: 'Спектр действий Ashwamin впечатляет: он и для сосудов, и для давления, и для нервной системы, и для иммунитета. Проверил на себе, он реально работает "по всем фронтам".'
		},
		{
			src: 'img/review_ashwamin_14.png',
			name: 'Алексей Крылов, 53 года',
			product: 'Ashwamin',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-3.svg'
			],
			text: 'Принимал Ashwamin как вспомогательное средство при диабете второго типа. Хочу отметить заметное улучшение состояния здоровья, я меньше устаю, нет проблем с пищеварением, и даже давление нормализовалось. Комплексная помощь организму! '
		},
		{
			src: 'img/review_ashwamin_15.png',
			name: 'Диана Николаева, 48 лет',
			product: 'Ashwamin',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-1.svg'
			],
			text: 'Настоящее открытие! Принимаю для поддержки иммунитета и вижу результат после первого курса приема. Стала реже болеть, настроение улучшилось, стала легче засыпать и просыпаться по утрам.'
		},
		{
			src: 'img/review_ashwamin_16.png',
			name: 'Арина Данилова, 64 года',
			product: 'Ashwamin',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-1.svg'
			],
			text: 'Отличное средство для очищения организма. Помогает справиться с интоксикацией, очищает сосуды от холестерина, регулирует давление. Отличный растительный состав и никаких побочных свойств!'
		},
		{
			src: 'img/review_ashwamin_17.png',
			name: 'Алиса Овсянникова, 38 лет',
			product: 'Ashwamin',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-2.svg'
			],
			text: 'После развода была в депрессии. Эмоциальное состояние — как американские горки. Сестра принесла Ashwamin. Уже с первых дней стала лучше спать. Со временем прошли рекие перепады настроения. Стала спокойнее. Хорошее средство и привыкания не вызывает. '
		},
		{
			src: 'img/review_ashwamin_18.png',
			name: 'Ариана Леонтьева, 53 года',
			product: 'Ashwamin',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-2.svg'
			],
			text: 'Отличное средство для поддержания здоровья. Принимаем вместе с мужем, оба заметили значительное улучшение: стали меньше болеть, после рабочего дня не так устаем, лучше спим и стали более эмоционально устойчивыми.'
		},
		{
			src: 'img/review_ashwamin_19.png',
			name: 'Андрей Сергеев, 45 лет',
			product: 'Ashwamin',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-3.svg'
			],
			text: 'Принимал Ashwamin для профилактики. Хочу отметить, что стал лучше спать, нормализовался уровень сахара в крови, перестали мучать изжоги. И в общем - чувствую себя на десять лет моложе. Отличное средство, особенно для пенсионеров!'
		},
		{
			src: 'img/review_ashwamin_20.png',
			name: 'Артемий Петров, 65 лет',
			product: 'Ashwamin',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-2.svg'
			],
			text: 'Всю жизнь мучился от болей в суставах. Становилось то лучше, то хуже. Периодически принимал разные средства. Но после курса Ashwamin забыл уже когда последний раз меня мучали боли. Рекомендую.'
		},
	];
	let ashwaminArrayFull = ashwaminArrayMain.concat(ashwaminArrayRemainder);