-
    const vasos_duoReviews = [
        {
            src: 'img/review_vasos_duo_1.png',
            name: "Name - vasos_duo",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;vasos_duo',
            text: "Comment text - vasos_duo"
        },

        {
            src: 'img/review_vasos_duo_2.png',
            name: "Name - vasos_duo",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;vasos_duo',
            text: "Comment text - vasos_duo"
        },

        {
            src: 'img/review_vasos_duo_3.png',
            name: "Name - vasos_duo",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;vasos_duo',
            text: "Comment text - vasos_duo"
        },

        {
            src: 'img/review_vasos_duo_4.png',
            name: "Name - vasos_duo",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;vasos_duo',
            text: "Comment text - vasos_duo"
        },

        {
            src: 'img/review_vasos_duo_5.png',
            name: "Name - vasos_duo",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;vasos_duo',
            text: "Comment text - vasos_duo"
        },

        {
            src: 'img/review_vasos_duo_6.png',
            name: "Name - vasos_duo",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;vasos_duo',
            text: "Comment text - vasos_duo"
        },

        {
            src: 'img/review_vasos_duo_7.png',
            name: "Name - vasos_duo",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;vasos_duo',
            text: "Comment text - vasos_duo"
        },

        {
            src: 'img/review_vasos_duo_8.png',
            name: "Name - vasos_duo",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;vasos_duo',
            text: "Comment text - vasos_duo"
        },

        {
            src: 'img/review_vasos_duo_9.png',
            name: "Name - vasos_duo",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;vasos_duo',
            text: "Comment text - vasos_duo"
        },

        {
            src: 'img/review_vasos_duo_10.png',
            name: "Name - vasos_duo",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;vasos_duo',
            text: "Comment text - vasos_duo"
        },

        {
            src: 'img/review_vasos_duo_11.png',
            name: "Name - vasos_duo",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;vasos_duo',
            text: "Comment text - vasos_duo"
        },

        {
            src: 'img/review_vasos_duo_12.png',
            name: "Name - vasos_duo",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;vasos_duo',
            text: "Comment text - vasos_duo"
        },

        {
            src: 'img/review_vasos_duo_13.png',
            name: "Name - vasos_duo",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;vasos_duo',
            text: "Comment text - vasos_duo"
        },

        {
            src: 'img/review_vasos_duo_14.png',
            name: "Name - vasos_duo",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;vasos_duo',
            text: "Comment text - vasos_duo"
        },

        {
            src: 'img/review_vasos_duo_15.png',
            name: "Name - vasos_duo",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;vasos_duo',
            text: "Comment text - vasos_duo"
        },
    ]

   
    