-
	const valgocinArrayMain = [
		{
			main: 'main',
			src: 'img/review_valgocin_1.png',
			name: 'Валерия Еремина, 50 лет',
			product: 'Вальгоцин',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-3.svg'
			],
			text: 'Использовала Вальгоцин на протяжении двух месяцев. Результат есть однозначно - ноги не болят и не устают, как раньше. Дополнительно ношу специальный бандаж, в комплексе они очень хорошо помогают. Рекомендую.'
		},
		{
			main: 'main',
			src: 'img/review_valgocin_2.png',
			name: 'Эмма Фадеева, 68 лет',
			product: 'Вальгоцин',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-3.svg'
			],
			text: 'Хороший натуральный состав, никакой химии, быстро впитывается. Кожу не печет. Хорошо снимает отечность и боль, стопы перестали неметь. Отличный продукт!'
		},
		{
			main: 'main',
			src: 'img/review_valgocin_3.png',
			name: 'Стефания Горбачева, 57 лет',
			product: 'Вальгоцин',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-1.svg'
			],
			text: 'Несколько лет жила с вальгусом и внимания не обращала. Пока не появилось воспаления и стало тяжело и больно ходить. Крем помог снять воспаление. Боль тоже пропала. Продолжаю использовать, чтобы не допустить осложнений!'
		},
		{
			main: 'main',
			src: 'img/review_valgocin_4.png',
			name: 'Антон Дмитриев, 33 года',
			product: 'Вальгоцин',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-2.svg'
			],
			text: 'Покупал этот крем для мамы, у нее довольно сильно искривилась стопа, боялись, что скоро не сможет ходить. После курса использования исчезли боли и отеки, деформация остановилась. Хорошее средство!'
		},
		{
			main: 'main',
			src: 'img/review_valgocin_5.png',
			name: 'Стефания Иванова, 37 лет',
			product: 'Вальгоцин',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-2.svg'
			],
			text: 'Вальгоцин спасает меня от натоптышей и воспалений. Использую его не очень давно, но эффект мне нравится. Ноги меньше отекают и тяжести нет.'
		},
		{
			main: 'main',
			src: 'img/review_valgocin_6.png',
			name: 'Есения Фомина, 54 года',
			product: 'Вальгоцин',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-1.svg'
			],
			text: 'Сыворотка-крем Вальгоцин помог избавиться от боли, отеков, воспалений. Проверила на себе. А еще натуральный состав и цена доступная.'
		},
		{
			main: 'main',
			src: 'img/review_valgocin_7.png',
			name: 'Алёна Воробьева, 41 год',
			product: 'Вальгоцин',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-3.svg'
			],
			text: 'Хочу отметить, что Вальгоцин помогает не только при вальгусе, он спасает также от натоптышей. А мужу помог предотвратить деформацию стопы. '
		},
		{
			main: 'main',
			src: 'img/review_valgocin_8.png',
			name: 'Кира Пугачева, 44 года',
			product: 'Вальгоцин',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-1.svg'
			],
			text: 'Отлично устраняет дискомфорт, тяжесть и отечность. Мне помог с воспалениями косточки на ноге. Болела страшно. А уже через несколько дней полегчало! '
		},
		{
			main: 'main',
			src: 'img/review_valgocin_9.png',
			name: 'Елизавета Шестакова, 56 лет',
			product: 'Вальгоцин',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-2.svg'
			],
			text: 'Спасибо производителю за такой ценный продукт. Он спасает меня на протяжении года. Кость перестала деформироваться, больше не болит и сустав не воспаляется. Главное, не забывать два раза в день использовать его.'
		},
		{
			main: 'main',
			src: 'img/review_valgocin_10.png',
			name: 'София Ершова, 64 года',
			product: 'Вальгоцин',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-2.svg'
			],
			text: 'Мне эту сыворотку-крем принесла дочь, узнала о ней с интернета. Я сначала не верила, что это может помочь. Но через месяц использования поняла, как я ошибалась. Хорошее средство, буквально спасло мои ноги.'
		},
	];
	const valgocinArrayRemainder = [
		{
			src: 'img/review_valgocin_11.png',
			name: 'Милана Пономарева, 43 года',
			product: 'Вальгоцин',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-3.svg'
			],
			text: 'Безопасный крем с отличными свойствами, да еще и на основе натуральных компонентов. Использую его уже давно. Состояние стопы значительно улучшилось.'
		},
		{
			src: 'img/review_valgocin_12.png',
			name: 'Арина Попова, 47 лет',
			product: 'Вальгоцин',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-2.svg'
			],
			text: 'Страдаю от вальгусной деформации уже четыре года. И только после знакомства с Вальгоцин смогла позволить себе обуть туфли. Отличный крем, рекомендую.'
		},
		{
			src: 'img/review_valgocin_13.png',
			name: 'Валерия Котова, 49 лет',
			product: 'Вальгоцин',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-1.svg'
			],
			text: 'Прошла курс использования Вальгоцин. Результат удивительный - дискомфорт исчез, шишка стала меньше я практически забыла об этой проблеме. Спасибо соседке, что рассказала об этом креме! Планирую повторить курс, но эффект однозначно есть!'
		},
		{
			src: 'img/review_valgocin_14.png',
			name: 'Мария Артемова, 55 лет',
			product: 'Вальгоцин',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-2.svg'
			],
			text: 'После того, как начала пользоваться Вальгоцином, кость перестала деформироваться. И по ощущениям стало намного лучше, иногда позволяю себе даже каблуки носить )'
		},
		{
			src: 'img/review_valgocin_15.png',
			name: 'Мария Костина, 46 лет',
			product: 'Вальгоцин',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-3.svg'
			],
			text: 'Я работаю продавцом, весь день на ногах. К вечеру была такая боль, что приходилось принимать обезболивающие. Специалист порекомендовал попробовать Вальгоцин. Теперь порхаю, как птица) '
		},
		{
			src: 'img/review_valgocin_16.png',
			name: 'Милана Соколова, 35 лет',
			product: 'Вальгоцин',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-1.svg'
			],
			text: 'В последнее время заметила, что постоянно натирает обувь в области большого пальца. Специалист сказал, что это деформируется стопа, прописал Вальгоцин. Через месяц использования забыла об этой проблеме! Рекомендую этот крем.'
		},
		{
			src: 'img/review_valgocin_17.png',
			name: 'Елизавета Кузнецова, 40 лет',
			product: 'Вальгоцин',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-2.svg'
			],
			text: 'У меня начальная стадия вальгуса. Специалист порекомендовал эту сыворотку-крем, пользуюсь 2 раза в день на протяжении полугода (с перерывами в месяц). Боли и дискомфорта нет, шишка не растет, эффект мне нравится.'
		},
		{
			src: 'img/review_valgocin_18.png',
			name: 'Дарина Скворцова, 37 лет',
			product: 'Вальгоцин',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-3.svg'
			],
			text: 'Раньше постоянно немела одна нога, особенно в области большого пальца. Решила, что это начальная стадия вальгуса, купила Вальгоцин. Сейчас такой проблемы больше нет. Крем помог.'
		},
		{
			src: 'img/review_valgocin_19.png',
			name: 'Есения Новикова, 52 года',
			product: 'Вальгоцин',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-1.svg'
			],
			text: 'Хорошо и быстро снимает боль! Долго искала средство с таким действием. И чтобы недорогое было. Вспаление прошло и ноги по вечерам гудеть перестали.'
		},
		{
			src: 'img/review_valgocin_20.png',
			name: 'Арина Абрамова, 60 лет',
			product: 'Вальгоцин',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-1.svg'
			],
			text: 'После знакомства с Вальгоцин я забыла, что такое боль в ноге, отеки, натоптыши, воспаление. Шишка значительно уменьшилась. Превосходный продукт и стоит не дорого.'
		},
	];
	let valgocinArrayFull = valgocinArrayMain.concat(valgocinArrayRemainder);