-
	const artexArrayMain = [
		{
			main: 'main',
			src: 'img/review_artex_1.png',
			name: 'Надежда Самсонова, 54 года',
			product: 'Artex',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-1.svg'
			],
			text: 'Отличный крем. Быстро впитывается, не жжет, но хорошо согревает. И главное, быстро снимает боль в суставах. Пользуюсь две недели - и боль в коленях, которая просто не давала жизни, практически прошла. Очень хороший натуральный состав, на травах.'
		},
		{
			main: 'main',
			src: 'img/review_artex_2.png',
			name: 'Илона Бурова, 39 лет',
			product: 'Artex',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-2.svg'
			],
			text: 'После перелома часто болела рука. Спасалась только обезболивающими. Во время отпуска ездила к матери, а она для коленей использует Artex, предложила мне попробовать. Понравился, заказала себе. После двух курсов использования забыла о болях совсем!  '
		},
		{
			main: 'main',
			src: 'img/review_artex_3.png',
			name: 'Максим Мартынов, 55 лет',
			product: 'Artex',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-2.svg'
			],
			text: 'Несколько лет жила с артритом. Боли были невыносимые! Ходила по врачам, покупали разные мази, принимала таблетки — не помогало. Пока дочь Artex не привезла. Облегчение почувствовала уже в конце первой недели курса. Воспаления и боль хорошо снимает!'
		},
		{
			main: 'main',
			src: 'img/review_artex_4.png',
			name: 'Мартина Хованская, 47 лет',
			product: 'Artex',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-3.svg'
			],
			text: 'Лет с 25 страдаю от воспалений суставов. Обходила многих специалистов, перепробовала кучу разных методов. Но нормально восстановить суставы помог именно Artex. Отличный крем, и цена приемлемая!'
		},
		{
			main: 'main',
			src: 'img/review_artex_5.png',
			name: 'Нестор Кобылин, 63 года',
			product: 'Artex',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-3.svg'
			],
			text: 'Я не особо вникал, из чего состоит этот крем, но у него фантастическое действие! Быстро устраняет боль и, главное, надолго! Думаю, пару курсов использования, и о проблемах с суставами можно будет забыть.'
		},
		{
			main: 'main',
			src: 'img/review_artex_6.png',
			name: 'Василиса Бунакова, 50 лет',
			product: 'Artex',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-1.svg'
			],
			text: 'Достойный крем. Выполняет заявленные действия, не раздражает кожу, не вызывает аллергии, нет резкого запаха. Пользуюсь на протяжении года, все устраивает.'
		},
		{
			main: 'main',
			src: 'img/review_artex_7.png',
			name: 'Сергей Томенко, 59 лет',
			product: 'Artex',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-2.svg'
			],
			text: 'Раньше часто мучали воспаления суставов. Колени на погоду болели. Дети узнали про Artex, купили и заставили пройти один курс. Стало намного лучше, суставы хрустеть перестали, ушла боль, даже на погоду не крутит. Крем отличный, рекомендую!'
		},
		{
			main: 'main',
			src: 'img/review_artex_8.png',
			name: 'Роберта Бараненко, 48 лет',
			product: 'Artex',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-2.svg'
			],
			text: 'Отличный способ избавиться от болей в спине. Наношу крем утром и вечером и весь день могу провести на ногах. Пользуюсь более полугода, никаких нареканий, ни за что не променяю на другое средство.'
		},
		{
			main: 'main',
			src: 'img/review_artex_9.png',
			name: 'София Рожнова, 44 года',
			product: 'Artex',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-1.svg'
			],
			text: 'Artex всегда есть в моей домашней аптечке. Покупала маме, у нее артрит, и крем очень ей помог. А я использую при ушибах, растяжениях и даже когда просто суставы "крутит" на погоду. '
		},
		{
			main: 'main',
			src: 'img/review_artex_10.png',
			name: 'Максим Трофимов, 62 года',
			product: 'Artex',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-2.svg'
			],
			text: 'Хороший крем, помог избавится от подагры. Использовал дважды в день на протяжении месяца. Через пару недель повторил курс. Болезнь отступила. Рекомендую.'
		},
	];
	const artexArrayRemainder = [
		{
			src: 'img/review_artex_11.png',
			name: 'Оксана Сильвестрова, 35 лет',
			product: 'Artex',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-2.svg'
			],
			text: 'Я занимаюсь тяжелой атлетикой, а это каждый день нагрузка на суставы. Чтобы сохранить их в здоровом состоянии, использую Artex. Отлично снимает боль и воспаление. Рассказала о нем в спортзале, теперь у нас много поклонников этого крема)'
		},
		{
			src: 'img/review_artex_12.png',
			name: 'Валерий Арбузов, 61 год',
			product: 'Artex',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-1.svg'
			],
			text: 'В юности активно занимался спортом. Как результат — разрушение суставного хряща. Врачи прогнозировали инвалидность, если операцию не делать. Операцию не делал. Artex помог восстановить хрящ и подвижность суставов. Делал МРТ — врачи в недоумении!'
		},
		{
			src: 'img/review_artex_13.png',
			name: 'Федор Якунин, 60 лет',
			product: 'Artex',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-1.svg'
			],
			text: 'Старость подкралась незаметно. Когда начали болеть суставы, казалось, что постарел сразу лет на 20. Спасибо другу, что порекомендовал Artex. Я снова могу передвигаться без проблем!'
		},
		{
			src: 'img/review_artex_14.png',
			name: 'Антон Васьков, 49 лет',
			product: 'Artex',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-3.svg'
			],
			text: '3 года мучал артроз коленного сустава. Спасался отварами и компрессами, потом и они перестали помагать. Попробовал Artex только потому, что дети уговорили, мол состав у него такой, что не навредит. И да, он действительно помог. '
		},
		{
			src: 'img/review_artex_15.png',
			name: 'Марья Калантьева, 62 года',
			product: 'Artex',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-3.svg'
			],
			text: 'Artex помог встать на ноги. Из-за артрита были такие боли, что не могла даже до туалета дойти без помощи посторонних. А теперь вот на прогулки хожу, по магазинам. И никаких проблем. '
		},
		{
			src: 'img/review_artex_16.png',
			name: 'Регина Яблочкова, 68 лет',
			product: 'Artex',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-3.svg'
			],
			text: 'Мне Artex помог восстановить тазобедренные суставы. Специалисты провели обследование и сами не поверили, что обычный крем на такое способен. Они даже не знали о его существовании!'
		},
		{
			src: 'img/review_artex_17.png',
			name: 'Алекс Винтов, 57 лет',
			product: 'Artex',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-2.svg'
			],
			text: 'Об этом средстве рассказал сосед по даче. Я всегда удивлялся, как он в своем возрасте (82 года) с утра до вечера то на огороде, то в саду работает. Оказалось, использует этот крем и суставы не беспокоят. Теперь и у меня гиперактивность, как в 20 лет)'
		},
		{
			src: 'img/review_artex_18.png',
			name: 'Наталья Сузина, 37 лет',
			product: 'Artex',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-1.svg'
			],
			text: 'Суперское средство при проблемах с суставами. Помог моей матери. Мы уже кресло-каталку собирались покупать, колени сильно болели, ходить было тяжело. А купили Artex и все обошлось!'
		},
		{
			src: 'img/review_artex_19.png',
			name: 'Виктория Загоровская, 53 года',
			product: 'Artex',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-2.svg'
			],
			text: 'Спасибо производителям этого средства. Два курса использования и снова могу бегать по утрам. И никаких отеков и хруста. Мои ноги больше не болят!'
		},
		{
			src: 'img/review_artex_20.png',
			name: 'Ольга Чижова, 47 лет',
			product: 'Artex',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-1.svg'
			],
			text: 'Специалисты говорили, что после такой травмы боль в коленном суставе будет сопровождать меня до конца жизни. Но они ошибались. После использования Artex я уже полгода не вспоминаю, что у меня были проблемы с ногой! Спасибо!'
		},
	];
	let artexArrayFull = artexArrayMain.concat(artexArrayRemainder);