-
	const argosevBioArrayMain = [
		{
			main: 'main',
			src: 'img/review_argosev_bio_1.png',
			name: 'Роман Семенов, 50 лет',
			product: 'Агросев БИО',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-2.svg'
			],
			text: 'Урожайность с Агросев Био увеличилась вдвое, а сорняки подохли! Особенно радуют овощи, плоды стали крупнее и дольше хранятся в погребе.'
		},
		{
			main: 'main',
			src: 'img/review_argosev_bio_2.png',
			name: 'Маргарита Князева, 49 лет',
			product: 'Агросев БИО',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-2.svg'
			],
			text: 'Долго искала средство для уничтожения сорняков. Нужно было и действенное, и не вредное, поскольку выращиваю овощи для себя и детей. Выбор остановила на Агросев Био - он отлично работает и натуральный. И цена отличная.'
		},
		{
			main: 'main',
			src: 'img/review_argosev_bio_3.png',
			name: 'Даниил Платонов, 60 лет',
			product: 'Агросев БИО',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-3.svg'
			],
			text: 'Раньше использовал более дорогие средства от сорняков. Но от них эффект был не всегда идеальный. Решил попробовать Агросев Био, сосед посоветовал. Результат отличный, мороки намного меньше! Теперь только это средство!'
		},
		{
			main: 'main',
			src: 'img/review_argosev_bio_4.png',
			name: 'Дмитрий Ефимов, 61 год',
			product: 'Агросев БИО',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-1.svg'
			],
			text: 'Агросев Био помог избавиться от самых стойких сорняков. Годами они росли на грядках. А после этого средства ни одного! Даже вьюнка не было. Избавил меня от регулярной прополки грядок.'
		},
		{
			main: 'main',
			src: 'img/review_argosev_bio_5.png',
			name: 'Марьям Горячева, 63 года',
			product: 'Агросев БИО',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-2.svg'
			],
			text: 'Обрабатывала этим концентратом свой цветник: состояние цветов стало на порядок лучше, ни сорняков, ни вредителей. И период цветения, как мне показалось, увеличился. Очень хорошее удобрение'
		},
		{
			main: 'main',
			src: 'img/review_argosev_bio_6.png',
			name: 'Александр Рудаков, 48 лет',
			product: 'Агросев БИО',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-2.svg'
			],
			text: 'Урожайность последних двух лет такая, какой не было никогда. А все благодаря Агросев Био. В этом году столько огурцов и помидоров, что и соседям всем раздавали, и погреб консервацией заставили! Однозначно отличное удобрение.'
		},
		{
			main: 'main',
			src: 'img/review_argosev_bio_7.png',
			name: 'Даниил Владимиров, 61 год',
			product: 'Агросев БИО',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-3.svg'
			],
			text: 'У нас в деревне уже все о нем знают и используют не первый год. Не слышал ни одной жалобы, все довольны. Кстати используют и для огорода, и для сада, и в теплицах и даже для комнатных растений. Универсальное, эффективное и доступное средство.'
		},
		{
			main: 'main',
			src: 'img/review_argosev_bio_8.png',
			name: 'Арсений Алексеев, 65 лет',
			product: 'Агросев БИО',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-1.svg'
			],
			text: 'Агросев Био - настоящая находка. Теперь у меня огород лучше, чем у соседей. Все растет, цветет, никаких вредителей, никакой заразы. И урожайность на порядок выше стала. Очень доволен этим удобрением!'
		},
		{
			main: 'main',
			src: 'img/review_argosev_bio_9.png',
			name: 'Иван Коновалов, 59 лет',
			product: 'Агросев БИО',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-2.svg'
			],
			text: 'Хорошее средство, быстро действует и после обработки ждать долго не надо. Уже на следующий день можно работать на участке без вреда для здоровья!'
		},
		{
			main: 'main',
			src: 'img/review_argosev_bio_10.png',
			name: 'Савва Горохов, 45 лет',
			product: 'Агросев БИО',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-3.svg'
			],
			text: 'У меня небольшая аграрная компания, занимаюсь этим уже 5 лет. Наконец-то вышел на прибыль, потому как только с помощью Агросев Био удалось значительно повысить урожайность, избавиться от сорняков и вредителей. Теперь бизнес процветает.'
		},
	];
	const argosevBioArrayRemainder = [
		{
			src: 'img/review_argosev_bio_11.png',
			name: 'Максим Пономарев, 64 года',
			product: 'Агросев БИО',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-3.svg'
			],
			text: 'Уже второй год использую для обработки участка от сорняков. Хорошо помогает! Две обработки и никаких прополок весь сезон!'
		},
		{
			src: 'img/review_argosev_bio_12.png',
			name: 'Виктория Петрова, 47 лет',
			product: 'Агросев БИО',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-1.svg'
			],
			text: 'Начала использовать это средство в цветниках. Никогда они еще так не цвели! И расти начали быстрее. Никаких болезней, вредителей и сорняков! Рекомендую!'
		},
		{
			src: 'img/review_argosev_bio_13.png',
			name: 'Артём Бочаров, 51 год',
			product: 'Агросев БИО',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-1.svg'
			],
			text: 'Агросев Био реально помогает противостоять вредителям и сорнякам. Те растения, которые не обработал перед посевом - съели жуки, а которые обработал - растут и развиваются. И это не химия! Плодам и здоровью не вредит, а от сорняков хорошо защищает. '
		},
		{
			src: 'img/review_argosev_bio_14.png',
			name: 'Анастасия Морозова, 46 лет',
			product: 'Агросев БИО',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-2.svg'
			],
			text: 'Мне нравится это средство, потому как хорошо убивает и многолетние и однолетние сорняки. Даже такие стойкие, как хмель и порей. И без вреда для огородных растений!'
		},
		{
			src: 'img/review_argosev_bio_15.png',
			name: 'София Васильева, 57 лет',
			product: 'Агросев БИО',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-2.svg'
			],
			text: 'Отличное удобрение за такую смешную цену. Тем более, это концентрат, хватает на очень долго. Одной упаковки мне хватило на обработку целого огорода! И свойства у него превосходные. '
		},
		{
			src: 'img/review_argosev_bio_16.png',
			name: 'Марк Алексеев, 55 лет',
			product: 'Агросев БИО',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-3.svg'
			],
			text: 'Универсальное удобрение. Я покупаю сразу три упаковки: мне на участок для овощей, а жена удобряет им комнатные растения. Растения прекрасные и на огороде и в доме! Сорянков нет. Рекомендую.'
		},
		{
			src: 'img/review_argosev_bio_17.png',
			name: 'Мария Щеглова, 69 лет',
			product: 'Агросев БИО',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-3.svg'
			],
			text: 'Незаменимое средство для сада и огорода. Обрабатываю участок каждый год и за лето нет сорняков! Результатом не могу нарадоваться. Главное пользоватся согласно инструкции, а то эффекта не будет.'
		},
		{
			src: 'img/review_argosev_bio_18.png',
			name: 'Вероника Журавлева, 68 лет',
			product: 'Агросев БИО',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-1.svg'
			],
			text: 'Об этом средстве мне рассказала соседка, у нее всегда такой порядок и такой урожай, все завидуют. Поговаривали, что она какой-то страшной химией обрабатывает огород, а как оказалось абсолютно натуральным средством. '
		},
		{
			src: 'img/review_argosev_bio_19.png',
			name: 'Марьям Кузнецова, 39 лет',
			product: 'Агросев БИО',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-2.svg'
			],
			text: 'Занимаюсь разведением цветов на продажу. После того, как начала использовать это средство от вредителей и сорняков, растения стали здоровее и красивее, дольше цветут, очень привлекательно выглядят. Рекомендую всем своим покупателям'
		},
		{
			src: 'img/review_argosev_bio_20.png',
			name: 'Виктория Волкова, 52 года',
			product: 'Агросев БИО',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-3.svg'
			],
			text: 'Ни одно даже натуральное удобрение не сравнится с Агросев Био. Забыла о сорняках! А раньше каждые неделю нужно было грядки пропалывать!'
		},
	];
	let argosevBioArrayFull = argosevBioArrayMain.concat(argosevBioArrayRemainder);