-
	const visoplexArrayMain = [
		{
			main: 'main',
			src: 'img/review_visoplex_1.png',
			name: 'Артём Назаров, 37 лет',
			product: 'Визоплекс',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-2.svg'
			],
			text: 'Я много времени провожу за чертежами, приходится постоянно напрягать глаза. В конце рабочего дня из-за усталости все выглядит размыто. В таких случаях мне помогают только эти капли. Быстро устраняют все неприятные ощущения.'
		},
		{
			main: 'main',
			src: 'img/review_visoplex_2.png',
			name: 'Диана Кузнецова, 43 года',
			product: 'Визоплекс',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-2.svg'
			],
			text: 'Эти капли хорошо улучшают четкость зрения. Раньше по вечерам надевал очки, а теперь и без них хорошо вижу: даже книги с мелким шрифтом могут читать. '
		},
		{
			main: 'main',
			src: 'img/review_visoplex_3.png',
			name: 'Алиса Попова, 50 лет',
			product: 'Визоплекс',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-1.svg'
			],
			text: 'После курса использования этих капель у меня не только улучшилось зрение, но и исчезли сухость, воспаление, картинка стала четче. Это просто фантастика! '
		},
		{
			main: 'main',
			src: 'img/review_visoplex_4.png',
			name: 'Алина Николаева, 38 лет',
			product: 'Визоплекс',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-3.svg'
			],
			text: 'Когда заметила, что падает зрение, сразу обратилась к специалисту. Мне назначили эти капли. Помогли восстановить прежнее зрение. Хорошо, что вовремя обратилась за помощью, а то уже ходила бы в очках.'
		},
		{
			main: 'main',
			src: 'img/review_visoplex_5.png',
			name: 'Софья Макарова, 47 лет',
			product: 'Визоплекс',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-3.svg'
			],
			text: 'Часто ощущала сухость и раздражение в глазах. Врачи сказали, что у меня "синдром сухого глаза". Рекомендовали разные капли, но все было малоэффективным. Спас только Визоплекс. Симптомы пропали. Даже после окончания курса все хорошо.'
		},
		{
			main: 'main',
			src: 'img/review_visoplex_6.png',
			name: 'Владислав Зверев, 51 год',
			product: 'Визоплекс',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-1.svg'
			],
			text: 'Визоплекс помог мне избежать лазерной коррекции. Боялся этой процедуры, потому искал альтернативные методы. И нашел! Теперь всем рекомендую, у кого есть проблемы со зрением.'
		},
		{
			main: 'main',
			src: 'img/review_visoplex_7.png',
			name: 'Даниил Горбачев, 51 год',
			product: 'Визоплекс',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-2.svg'
			],
			text: 'Очень нравится фасовка капель в тюбики-капельницы. Удобно капать и экономно. Обычно глазные капли имеют очень маленький срок годности после вскрытия упаковки, а здесь успеваешь использовать. Помогают хорошо, покраснение проходит и глаза меньше устают'
		},
		{
			main: 'main',
			src: 'img/review_visoplex_8.png',
			name: 'Виктория Бирюкова, 34 года',
			product: 'Визоплекс',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-2.svg'
			],
			text: 'Отличный состав, удобное использование, и просто фантастическое действие. Начала видеть на порядок лучше, четче, исчезла постоянная усталость и нагрузка. Я уже и забыла, какой красивый мир вокруг нас!'
		},
		{
			main: 'main',
			src: 'img/review_visoplex_9.png',
			name: 'Денис Куликов, 39 лет',
			product: 'Визоплекс',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-1.svg'
			],
			text: 'Визоплекс стал моим незаменимым помощником на работе. Я - ювелир. Уже к обеду глаза устают. Работал в очках. Но с этими каплями стало проще. Могу проработать целый день и за очки не вспомнить. Вижу хорошо, глаза меньше устают. '
		},
		{
			main: 'main',
			src: 'img/review_visoplex_10.png',
			name: 'Ева Тихонова, 45 лет',
			product: 'Визоплекс',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-2.svg'
			],
			text: 'Я два года хожу в линзах, сначала мучалась страшно... Неудобно, хочется постоянно тереть глаза. И только с началом использования этих капель я перестала ощущать линзы на глазах. Хорошо увлажняют и убирают дискмофорт. '
		},
	];
	const visoplexArrayRemainder = [
		{
			src: 'img/review_visoplex_11.png',
			name: 'Никита Ефимов, 48 лет',
			product: 'Визоплекс',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-3.svg'
			],
			text: 'Из-за аллергии начались проблемы с глазами. Слезы, покраснения, не могли долго смотреть. Капли Визоплекс помогли справиться с симптомами за пару дней. Теперь всегда держу в аптечке.'
		},
		{
			src: 'img/review_visoplex_12.png',
			name: 'Василий Смирнов, 46 лет',
			product: 'Визоплекс',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-2.svg'
			],
			text: 'Капли помогли быстро избавиться от конъюнктивита. Уже с первых дней применение пропало жжение, ушла слезоточивость. Быстро помогает. Рекомендую! '
		},
		{
			src: 'img/review_visoplex_13.png',
			name: 'Максим Кузьмин, 44 года',
			product: 'Визоплекс',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-1.svg'
			],
			text: 'Всю жизнь работаю со сваркой. Естественно проблем с глазами избежать не удалось. Капли Визоплекс мне принес сын. Начал капать, улучшения долго ждать не пришлось. Теперь могу работать дальше, а то уже на пенсию собирался...'
		},
		{
			src: 'img/review_visoplex_14.png',
			name: 'Роман Сергеев, 44 года',
			product: 'Визоплекс',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-1.svg'
			],
			text: 'Отличные капли, помогли мне улучшить остроту зрения. Раньше к ценникам в супермаркете нужно было присматриваться, теперь четко вижу! Рекомендую Визоплекс!'
		},
		{
			src: 'img/review_visoplex_15.png',
			name: 'Иван Трофимов, 27 лет',
			product: 'Визоплекс',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-3.svg'
			],
			text: 'Покупал такие капли для своей бабушки, она практически ослепла, но отказывалась от коррекции и операций. Конечно, зрение полностью не восстановилось, но теперь она стала снова самостоятельной, раньше не видела ничего и постоянно нуждалась в помощи.'
		},
		{
			src: 'img/review_visoplex_16.png',
			name: 'Амина Трофимова, 41 год',
			product: 'Визоплекс',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-3.svg'
			],
			text: 'Работаю за компьютером. У нас в офисе у каждого третьего к вечеру устают глаза. Коллеги порекомендовали попробовать Визоплекс. Заказала, начала капать - да совсем другое дело! Теперь к вечеру никакой усталость и помутнений.'
		},
		{
			src: 'img/review_visoplex_17.png',
			name: 'Артём Воронин, 36 лет',
			product: 'Визоплекс',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-2.svg'
			],
			text: 'Хорошие действенные капли. Отлично снимают усталость и покраснение с глаз. Для тех, кто работает с документами целый день, то, что нужно!'
		},
		{
			src: 'img/review_visoplex_18.png',
			name: 'Матвей Кукушкин, 62 года',
			product: 'Визоплекс',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-1.svg'
			],
			text: 'Резко ухудшилось зрение. Денег на частные клиники у меня нет, потому искал что-то более приемлемое. В интернете прочитал про Визоплекс, многие пишут, что помогает. Решил попробовать, терять было нечего. Капли помогли, вижу намного лучше.'
		},
		{
			src: 'img/review_visoplex_19.png',
			name: 'Майя Лебедева, 34 года',
			product: 'Визоплекс',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-2.svg'
			],
			text: 'Покупала Визоплекс маме, она жаловалась на постоянную глазную боль, сухость и ухудшение резкости. Знакомый офтальмолог посоветовал эти капли. Маме стало лучше. Краснота ушла и резкость улучшилась. Хорошо помогают!'
		},
		{
			src: 'img/review_visoplex_20.png',
			name: 'Тимур Миронов, 46 лета',
			product: 'Визоплекс',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-3.svg'
			],
			text: 'Мне эти капли порекомендовал знакомый. Я работаю за компьютером и часто к вечеру глаза пекут, все мутнеет. Визоплекс быстро устраняет дискомфорт. Я даже стал немного лучше видеть. Однозначно рекомендую!'
		},
	];
	let visoplexArrayFull = visoplexArrayMain.concat(visoplexArrayRemainder);