-
	const miaflowArrayMain = [
		{
			main: 'main',
			src: 'img/review_miaflow_3.png',
			name: 'Софья Жукова, 37 лет',
			product: 'Miaflow',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-2.svg'
			],
			text: 'У меня проблемная кожа, потому подобрать средство для очищения очень сложно. Полюзуюсь скрабом уже пару месяцев и все супер. Очищает бережно, хорошо, не раздражает проблемные участки. А крем хорошо питает и увлажняет! Приятный и легкий по текстуре.'
		},
		{
			main: 'main',
			src: 'img/review_miaflow_4.png',
			name: 'Анастасия Соколова, 39 лет',
			product: 'Miaflow',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-3.svg'
			],
			text: 'Отличный крем с божественным ароматом) Обычно средства на натуральной основе пахнут не очень, а этот - просто невероятно. Свои функции выполняет на 100%, и цена весьма доступная. '
		},
		{
			main: 'main',
			src: 'img/review_miaflow_5.png',
			name: 'Екатерина Столярова, 41 год',
			product: 'Miaflow',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-3.svg'
			],
			text: 'Меня лично подкупил состав, натуральные экстракты внушают доверие. Эффект приятно удивил - морщин стало меньше выровнялся цвет лица, исчезла отечность. Рекомендую.'
		},
		{
			main: 'main',
			src: 'img/review_miaflow_6.png',
			name: 'Александра Самойлова, 36 лет',
			product: 'Miaflow',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-1.svg'
			],
			text: 'Я работаю в косметологическом салоне и часто рекомендую клиентам крем+скраб Miaflow. Использую комплекс и сама, и во время проведения косметологических процедур. Результатом довольна.'
		},
		{
			main: 'main',
			src: 'img/review_miaflow_8.png',
			name: 'Полина Шишкина, 47 лет',
			product: 'Miaflow',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-1.svg'
			],
			text: 'Использую крем и скраб Miaflow уже месяц. Очень нравится эффект. Кожа стала мягкой, овал лица подтянулся, поры сузились. И стоит не дорого.'
		},
		{
			main: 'main',
			src: 'img/review_miaflow_11.png',
			name: 'Дарья Петрова, 35 лет',
			product: 'Miaflow',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-2.svg'
			],
			text: 'Хороший комплекс: скраб очищает отменно, не вызывает раздражения. Абразивные частицы не крупные, не "царапают" кожу. Процесс очищения приятен. Дополнительный плюс за аромат. Крем — идеальная находка. Морщины разглаживает. И без липкого слоя на коже'
		},
		{
			main: 'main',
			src: 'img/review_miaflow_13.png',
			name: 'Александра Кудрявцева, 57 лет',
			product: 'Miaflow',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-1.svg'
			],
			text: 'У меня после использования скрабов всегда начинала шелушиться кожа. После Miaflow такого нет. Он очень бережно воздействует на кожу. И крем просто бесподобный. Стало меньше морщин, цвет лица стал лучше, упругость восстановилась!'
		},
		{
			main: 'main',
			src: 'img/review_miaflow_15.png',
			name: 'Елизавета Колесова, 47 лет',
			product: 'Miaflow',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-3.svg'
			],
			text: 'Для меня Miaflow стал настоящим открытием! Не верила, что крем на основе экстрактов способен так глубоко и тщательно восстанавливать кожу. Но теперь поверила в силу "природных компонентов". Рекомендую.'
		},
		{
			main: 'main',
			src: 'img/review_miaflow_16.png',
			name: 'Александра Шевцова, 66 лет',
			product: 'Miaflow',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-3.svg'
			],
			text: 'Превосходное средство не за все деньги мира. Скраб отшелушивает ороговевшую кожу, делает ее упругой, гладкой и шелковистой. Крем дарит свежесть и хорошо омолаживает. Нравится текстура и вижу результат!'
		},
		{
			main: 'main',
			src: 'img/review_miaflow_20.png',
			name: 'Ангелина Фомина, 35 лет',
			product: 'Miaflow',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-2.svg'
			],
			text: 'Круто, что Miaflow подходит для разных возрастов, пользуемся всей семьей - я, сестра и мама. Что удивительно, подошел всем, хотя у нас разный тип кожи. Отлично питает и увлажняет, не стягивает кожу, морщины разглаживает и стоит недорого)'
		}
	];
	const miaflowArrayRemainder = [
		{
			src: 'img/review_miaflow_1.png',
			name: 'Алина Денисова, 33 года',
			product: 'Miaflow',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-2.svg'
			],
			text: 'Мне этот крем посоветовали в салоне красоты. Эффект замечательный! Кожа чистая, тонизированная, не пересушенная. Морщинки разгладил, мешки под глазами убрал, даже кожу выровнял. Рекомендую!'
		},
		{
			src: 'img/review_miaflow_2.png',
			name: 'Диана Соловьева, 42 года',
			product: 'Miaflow',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-1.svg'
			],
			text: 'Использую крем Miaflow каждый день и скраб один раз в неделю на протяжении трех месяцев. Кожа лица заметно улучшилась, поры очистились, мелкие раздражения исчезли, черных точек стало намного меньше. Не могу им нарадоваться.'
		},
		{
			src: 'img/review_miaflow_7.png',
			name: 'Милана Воронина, 40 лет',
			product: 'Miaflow',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-2.svg'
			],
			text: 'Удивительно, что крем с таким спектром действия стоит так дешево. По эффективности он не уступает ни грамма дорогим профессиональным средствам. Проверено на себе лично.'
		},
		{
			src: 'img/review_miaflow_9.png',
			name: 'Анастасия Григорьева, 48 лет',
			product: 'Miaflow',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-2.svg'
			],
			text: 'После очищения кожи с этим скрабом я чувствую легкость и свежесть. Лицо становится чище, светлее, исчезают жирные участки и покраснения. Крем хорошо увлажняет и быстро впитывается. Не оставляет жирного блеска. Омолаживающий эффект есть!'
		},
		{
			src: 'img/review_miaflow_10.png',
			name: 'Дана Орлова, 46 лет',
			product: 'Miaflow',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-3.svg'
			],
			text: 'Увидела эффект после первого использования. Кожа как шелк! Запечатались даже самые глубокие поры, исчезли прыщики и черные точки. А крем сделал меня моложе лет на 5! Однозначно, стоит покупать!'
		},
		{
			src: 'img/review_miaflow_12.png',
			name: 'Виктория Степанова, 60 лет',
			product: 'Miaflow',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-2.svg'
			],
			text: 'Мне крем Miaflow подарила дочь. Ранее я не пользовалась кремами) И очень жалею. Но с помощью крема снова могу выглядеть молодо, несмотря на настоящий возраст.'
		},
		{
			src: 'img/review_miaflow_14.png',
			name: 'Маргарита Гурова, 54 года',
			product: 'Miaflow',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-1.svg'
			],
			text: 'Отличный крем, слегка матирует кожу, качественно питает поры и не вызывает раздражения. Пользуюсь уже давно. После каждого нанесения заметен эффект.'
		},
		{
			src: 'img/review_miaflow_17.png',
			name: 'Юлия Титова, 52 года',
			product: 'Miaflow',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-1.svg'
			],
			text: 'Могу с уверенностью сказать, что крем Miaflow ни то что не уступает профессиональным уходовым средствам, а даже превосходит. Перепробовала много чего, знаю, что говорю.'
		},
		{
			src: 'img/review_miaflow_18.png',
			name: 'София Яковлева, 55 лет',
			product: 'Miaflow',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-1.svg'
			],
			text: 'Нравится, что после его использования нет ощущения стянутости кожи. Лицо сияет красотой и свежестью! Но главное — минус лет 7 за месяц использования!'
		},
		{
			src: 'img/review_miaflow_19.png',
			name: 'Алиса Молчанова, 39 лет',
			product: 'Miaflow',
			stars: [
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star.svg',
				'img/svg/star-empty-1.svg'
			],
			text: 'Впервые попробовала этот крем у подруги. Она очень хвалила, решила заказать и себе. Пользуюсь два месяца, не могу нарадоваться, в нем идеально все: запах, эффект, текстура!'
		},
	];
	let miaflowArrayFull = miaflowArrayMain.concat(miaflowArrayRemainder);