-
    const vasos-duoReviews = [
        {
            src: 'img/review_vasos-duo_1.png',
            name: "Name - vasos-duo",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;vasos-duo',
            text: "Comment text - vasos-duo"
        },

        {
            src: 'img/review_vasos-duo_2.png',
            name: "Name - vasos-duo",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;vasos-duo',
            text: "Comment text - vasos-duo"
        },

        {
            src: 'img/review_vasos-duo_3.png',
            name: "Name - vasos-duo",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;vasos-duo',
            text: "Comment text - vasos-duo"
        },

        {
            src: 'img/review_vasos-duo_4.png',
            name: "Name - vasos-duo",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;vasos-duo',
            text: "Comment text - vasos-duo"
        },

        {
            src: 'img/review_vasos-duo_5.png',
            name: "Name - vasos-duo",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;vasos-duo',
            text: "Comment text - vasos-duo"
        },

        {
            src: 'img/review_vasos-duo_6.png',
            name: "Name - vasos-duo",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;vasos-duo',
            text: "Comment text - vasos-duo"
        },

        {
            src: 'img/review_vasos-duo_7.png',
            name: "Name - vasos-duo",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;vasos-duo',
            text: "Comment text - vasos-duo"
        },

        {
            src: 'img/review_vasos-duo_8.png',
            name: "Name - vasos-duo",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;vasos-duo',
            text: "Comment text - vasos-duo"
        },

        {
            src: 'img/review_vasos-duo_9.png',
            name: "Name - vasos-duo",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;vasos-duo',
            text: "Comment text - vasos-duo"
        },

        {
            src: 'img/review_vasos-duo_10.png',
            name: "Name - vasos-duo",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;vasos-duo',
            text: "Comment text - vasos-duo"
        },

        {
            src: 'img/review_vasos-duo_11.png',
            name: "Name - vasos-duo",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;vasos-duo',
            text: "Comment text - vasos-duo"
        },

        {
            src: 'img/review_vasos-duo_12.png',
            name: "Name - vasos-duo",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;vasos-duo',
            text: "Comment text - vasos-duo"
        },

        {
            src: 'img/review_vasos-duo_13.png',
            name: "Name - vasos-duo",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;vasos-duo',
            text: "Comment text - vasos-duo"
        },

        {
            src: 'img/review_vasos-duo_14.png',
            name: "Name - vasos-duo",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;vasos-duo',
            text: "Comment text - vasos-duo"
        },

        {
            src: 'img/review_vasos-duo_15.png',
            name: "Name - vasos-duo",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;vasos-duo',
            text: "Comment text - vasos-duo"
        },
    ]

   
    