section.reviews-main
	.container
		.reviews-main__list.js-slider-reviews-wrap
			.reviews-main__wrapper.swiper-wrapper
				include reviews-list

			.reviews-main__scrollbar.scrollbar.js-slider-reviews-scrollbar