section.reviews-main
	.container
		.reviews-main__list.js-slider-reviews-wrap
			.reviews-main__wrapper.swiper-wrapper
				include ../home/reviews-list

			.reviews-main__scrollbar.scrollbar.js-slider-reviews-scrollbar
//include ../mixins/review
//include ../data/index
//
//-
//	let array = [
//		...beautyAgeSkinReviews,
//		...beautyAgeComplexReviews,
//		...beautyAgeSkinPeelingReviews,
//		...delislimReviews,
//		...deluronForteReviews,
//		...depantenReviews,
//		...diaformReviews,
//		...exofeetOilReviews,
//		...feronexReviews,
//		...guavitalReviews,
//		...inspilarReviews,
//		...keraminReviews,
//		...miaflowIntenseReviews,
//		...neoverisReviews,
//		...ottomaxReviews,
//		...paraxanReviews,
//		...steplexReviews,
//		...tensitalReviews,
//		...tonerinReviews,
//		...uromexilForteReviews,
//		...vermixinReviews,
//		...visopticDuoReviews,
//		...visopticDuoDayReviews,
//		...visopticDuoNightReviews,
//		...wintexUltraReviews,
//		...wirexMensFormulaReviews
//	];
//
//	const perChunk = 2;
//
//	const result = array.reduce((resultArray, item, index) => {
//		const chunkIndex = Math.floor(index / perChunk)
//		if (!resultArray[chunkIndex]) {
//			resultArray[chunkIndex] = []
//		}
//		resultArray[chunkIndex].push(item)
//		return resultArray
//	}, []);
//
//
//.reviews-main
//	.container
//		.reviews-main__slider.js-slider-reviews-wrap
//			.reviews-main__list.js-slider-reviews.swiper-wrapper
//				each reviews in result
//					.reviews-list.swiper-slide
//						each review in reviews
//							+review(review)
//			.reviews-main__scrollbar.scrollbar.js-slider-reviews-scrollbar


		//h2.reviews-main__title.title Отзывы
		//.reviews-main__list
		//	.review
		//		.review__top
		//			img.review__photo(src="img/review_photo_1.png", alt="")
		//			.review__person
		//				p.review__name Ермоленко Влада
		//				.review__rating
		//					p.review__rating-name Око-плюс
		//					.review__rating-stars
		//						img.review__rating-star(src="img/svg/star.svg", alt="")
		//						img.review__rating-star(src="img/svg/star.svg", alt="")
		//						img.review__rating-star(src="img/svg/star.svg", alt="")
		//						img.review__rating-star(src="img/svg/star.svg", alt="")
		//						img.review__rating-star(src="img/svg/star-empty.svg", alt="")
		//		.review__bottom
		//			p.review__main Отличное качество!
		//			p.review__text После обращения к дерматологу ребенку поставили диагноз гиперсухость кожи. В комплексе с кремами и&nbsp;специальным средством для купания назначили обязате...