// - var MOBILE_MENU = LANG.mobile_menu;
//
// -
//     function getActiveClass(active) {
//         return function(current){
//                 return current===active?"active":"";
//                 }
//                 };
// mixin menu-mob(page)
//     - const activeClass = getActiveClass(page);
//     .menu-mobile#js-mobile-menu
//         .menu-mobile__wrap
//             .menu-mobile__top
//                 a.logo.menu-mobile__logo(href="/")
//                     img(src="img/svg/logo_big.svg", alt="")
//                 .burger.js-burger(data-target="#js-mobile-menu")
//                     span.burger__line
//                     span.burger__line
//                     span.burger__line
//             ul.menu-mobile__nav.menu
//                 li.menu__item
//                     a.menu__link(href="catalog.html", class=activeClass("catalog")) Catálogo
//                 li.menu__item
//                     a.menu__link(href="about.html", class=activeClass("about")) Sobre nosotros
//                 li.menu__item
//                     a.menu__link(href="contacts.html", class=activeClass("contacts")) Contactos
//                 li.menu__item
//                     a.menu__link(href="reviews.html", class=activeClass("reviews")) Reseñas
//             .menu-mobile__bottom
//                 button.menu-mobile__btn.btn.js-show-popup(data-target="#popup") Pedir una llamada