extends templates/layout/layout-prod.pug
block head
	title Naturallic - Beauty Age Skin Peeling
block content
	include templates/product/beauty_peeling/beauty_peeling
	include templates/product/beauty_peeling/product-reviews
	include templates/product/recommendations
