extends templates/layout/layout-prod.pug
block head
	title Naturallic - Biorecin
block content
	include templates/product/biorecin/biorecin
	//include templates/product/biorecin/product-reviews
	//include templates/product/recommendations
