extends templates/layout/layout-prod.pug
block head
	title Naturallic - Depanten
block content
	include templates/product/depanten/depanten
	//include templates/product/depanten/product-reviews
	//include templates/product/recommendations
