extends templates/layout/layout-prod.pug
block head
	title Naturallic - Diaform
block content
	include templates/product/diaform/diaform
	//include templates/product/diaform/product-reviews
	//include templates/product/recommendations
