extends templates/layout/layout-prod.pug
block head
	title Naturallic - Dialine
block content
	include templates/product/dialine/dialine
	//include templates/product/dialine/product-reviews
	//include templates/product/recommendations
