extends templates/layout/layout-prod.pug
block head
	title Naturallic - Exofeet
block content
	include templates/product/exofeet/exofeet
	//include templates/product/exofeet/product-reviews
	//include templates/product/recommendations