extends templates/layout/layout-prod.pug
block head
	title Naturallic - Feronex
block content
	include templates/product/feronex/feronex
	//include templates/product/feronex/product-reviews
	//include templates/product/recommendations
