extends templates/layout/layout-prod.pug
block head
	title Naturallic - Guavital
block content
	include templates/product/guavital/guavital
	//include templates/product/guavital/product-reviews
	//include templates/product/recommendations
