extends templates/layout/layout-prod.pug
block head
	title Naturallic - Hondrexil
block content
	include templates/product/hondreksil/hondreksil
	//include templates/product/hondreksil/product-reviews
	//include templates/product/recommendations
