extends templates/layout/layout-prod.pug
block head
	title Naturallic - Inspilar
block content
	include templates/product/inspilar/inspilar
	//include templates/product/inspilar/product-reviews
	//include templates/product/recommendations
