extends templates/layout/layout-prod.pug
block head
	title Vitaliss - Lipocarnit
block content
	include templates/product/lipocarnit/lipocarnit
	include templates/product/lipocarnit/product-reviews
	include templates/product/recommendations
