extends templates/layout/layout-prod.pug
block head
	title Naturallic - Miaflow
block content
	include templates/product/miaflow/miaflow
	//include templates/product/miaflow/product-reviews
	//include templates/product/recommendations
