extends templates/layout/layout-prod.pug
block head
	title Naturallic - Neoveris
block content
	include templates/product/neoveris/neoveris
	//include templates/product/neoveris/product-reviews
	//include templates/product/recommendations
