extends templates/layout/layout-prod.pug
block head
	title Vitaliss - Normaten
block content
	include templates/product/normaten/normaten
	include templates/product/normaten/product-reviews
	include templates/product/recommendations

