extends templates/layout/layout-prod.pug
block head
	title Vitaliss - Oculax
block content
	include templates/product/oculax/oculax
	include templates/product/oculax/product-reviews
	include templates/product/recommendations
