extends templates/layout/layout.pug
block head
	title Naturallic - Oculax
block content
	include templates/product/oculax/oculax
	//include templates/product/oculax/product-reviews
	//include templates/product/recommendations
