extends templates/layout/layout-prod.pug
block head
	title Naturallic - Otovix
block content
	include templates/product/otovix/otovix
	//include templates/product/otovix/product-reviews
	//include templates/product/recommendations
