extends templates/layout/layout-prod.pug
block head
	title Naturallic - Ottomax+
block content
	include templates/product/ottomax/ottomax
	//include templates/product/ottomax/product-reviews
	//include templates/product/recommendations
