extends templates/layout/layout-prod.pug
block head
	title Naturallic - Steplex
block content
	include templates/product/steplex/steplex
	//include templates/product/steplex/product-reviews
	//include templates/product/recommendations
