extends templates/layout/layout.pug
block head
    title Success
block content
    //include templates/mixins/menu
    //+menu("success", "dark")
    include templates/success/header
    //include templates/success/diary
    include templates/success/reviews