extends templates/layout/layout-prod.pug
block head
	title Vitaliss - Urotrin
block content
	include templates/product/urotrin/urotrin
	//include templates/product/product-reviews
	//include templates/product/recommendations
