extends templates/layout/layout-prod.pug
block head
    title Naturallic - Vasos Duo
block content
    include templates/mixins/menu
    +menu("vasos-duo")
    include templates/product/vasos-duo/vasos-duo
