extends templates/layout/layout-prod.pug
block head
    title Naturallic - Vasos Duo
block content
    include templates/mixins/menu
    +menu("vasos_duo")
    include templates/product/vasos_duo/vasos_duo
