extends templates/layout/layout-prod.pug
block head
	title Naturallic - Visoptic DUO Day
block content
	include templates/product/visoptic_day/visoptic_day
	//include templates/product/visoptic_day/product-reviews
	//include templates/product/recommendations