extends templates/layout/layout-prod.pug
block head
	title Naturallic - Wintex Ultra
block content
	include templates/product/wintex/wintex
	//include templates/product/product-reviews
	//include templates/product/recommendations
