extends templates/layout/layout-prod.pug
block head
	title Naturallic - Wirex
block content
	include templates/product/wirex/wirex
	//include templates/product/wirex/product-reviews
	//include templates/product/recommendations
