extends templates/layout/layout-prod.pug
block head
	title Vitaliss - Wortex
block content
	include templates/product/wortex/wortex
	//include templates/product/wortex/product-reviews
	//include templates/product/recommendations