include ../mixins/review
include ../data/index


-
    let array = [
        ...beautyAgeSkinReviews,
        ...beautyAgeComplexReviews,
        ...beautyAgeSkinPeelingReviews,
        ...delislimReviews,
        ...deluronForteReviews,
        ...depantenReviews,
        ...diaformReviews,
        ...exofeetOilReviews,
        ...feronexReviews,
        ...guavitalReviews,
        ...inspilarReviews,
        ...keraminReviews,
        ...miaflowIntenseReviews,
        ...neoverisReviews,
        ...ottomaxReviews,
        ...paraxanReviews,
        ...steplexReviews,
        ...tensitalReviews,
        ...tonerinReviews,
        ...uromexilForteReviews,
        ...vermixinReviews,
        ...visopticDuoReviews,
        ...visopticDuoDayReviews,
        ...visopticDuoNightReviews,
        ...wintexUltraReviews,
        ...wirexMensFormulaReviews,
    ]

    const perChunk = 2;

    const result = array.reduce((resultArray, item, index) => {
        const chunkIndex = Math.floor(index / perChunk)
        if (!resultArray[chunkIndex]) {
            resultArray[chunkIndex] = []
        }
        resultArray[chunkIndex].push(item)
        return resultArray
    }, []);



each reviews in result
    .reviews-list.swiper-slide
        each review in reviews
            +review(review)