- var REVIEWS = LANG.home.reviews;
section.reviews
	.container
		h2.reviews__title.title!=REVIEWS.reviews_block_title
		//- .reviews__info
			//- p.reviews__count!=REVIEWS.reviews_block_total
		.reviews__slider.js-slider-reviews-wrap
			.reviews__list.swiper-wrapper
				include reviews-list
			.scrollbar.js-slider-reviews-scrollbar
		//a.reviews__btn.btn(href="reviews.html")!=REVIEWS.reviews_block_view_all