include ../mixins/review
include ../data/index


-
    let array = ashBeForteArrayMain.concat(miaflowArrayMain, duoArrayMain, valgocinArrayMain, artexArrayMain, visoplexArrayMain, argosevBioArrayMain,
            ashwaminArrayMain);

    const perChunk = 2;

    const result = array.reduce((resultArray, item, index) => {
        const chunkIndex = Math.floor(index / perChunk)
        if (!resultArray[chunkIndex]) {
            resultArray[chunkIndex] = []
        }
        resultArray[chunkIndex].push(item)
        return resultArray
    }, []);



each reviews in result
    .reviews-list
        each review in reviews
            +review(review)