//.success-diary
//    .container
//        .success-diary__wrapper
//            .success-diary__info
//                h2.success-diary__title Забота о Вашем здоровье - наш главный приоритет!
//                .success-diary__desc
//                    p.success-diary__text К заказу мы прилагаем подарок от компании Дневник Здоровья, который поможет отслеживать изменения в организме и чувствовать себя прекрасно!
//                    p.success-diary__text Всегда с Вами, команда Naturallic!
//            img.success-diary__photo(src="img/diary.jpg", alt="")