.success-header
    .container
        .success-header__wrapper
            .success-header__info
                h2.success-header__title Благодарим за Ваш заказ!
                .success-header__desc
                    p.success-header__text Спасибо, что выбрали нашу компанию!
                        br
                        | Мы свяжемся с Вами по номеру +7 (499) 703 14 76 через несколько минут для уточнения деталей заказа.
                    p.success-header__text
                        span.js-success-product-name
                        |  восстановил здоровье тысячам людей.
                        br
                        | Вы на правильном пути!
            img.success-header__photo.js-success-product-photo(src="", alt="")
        .success-header__list
            .success-item
                .success-item__wrap-photo
                    img.success-item__ico(src="img/svg/success_1.svg", alt="")
                p.success-item__text Среднее время ожидания звонка
                    span.color 5 минут
            .success-item
                .success-item__wrap-photo
                    img.success-item__ico(src="img/svg/success_2.svg", alt="")
                p.success-item__text Наличие товара на складе
                    span.color В наличии
            .success-item
                .success-item__wrap-photo
                    img.success-item__ico(src="img/svg/success_3.svg", alt="")
                p.success-item__text Остаток
                    br
                    | на складе
                    span.color
                        span.js-product-residue 60
                        span штук