//include ../mixins/review
//include ../data/index
//
//-
//    let array = reviewsArray;
//    const perChunk = 2;
//    const result = array.reduce((resultArray, item, index) => {
//        const chunkIndex = Math.floor(index / perChunk)
//        if (!resultArray[chunkIndex]) {
//            resultArray[chunkIndex] = []
//        }
//        resultArray[chunkIndex].push(item)
//        return resultArray
//    }, []);
//

.success-reviews
    .container
        .success-reviews__slider.js-slider-reviews-wrap
            .success-reviews__list.js-slider-reviews.swiper-wrapper
                include ../home/reviews-list
                // each reviews in result
                //     .reviews-list.swiper-slide
                //         each review in reviews
                //             +review(review)
            .success-reviews__scrollbar.scrollbar.js-slider-reviews-scrollbar